@using LM.Utility

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 中国电子化工新材料产业联盟</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width"/>
    
    @Html.RenderCss("/Content/css2/index.css")
    @*@Html.RenderCss("/Content/css/tb.css")*@
    @*@Html.RenderCss("/Content/css/tpqh.css")*@
    @*@Html.RenderCss("/Content/css/style.css")*@
    @*@Html.RenderCss("/Content/css/nav.css")*@ 

    @Html.RenderScript("/Content/js/jquery-1.9.1.js")
    @Html.RenderScript("/Content/js/homePage.js")
    @*@Html.RenderScript("/Content/js/logoRoll.js")*@
    @Html.RenderScript("/Content/js/tab.js")
    @Html.RenderScript("/Content/js/slide.js")
    @Html.RenderScript("/Content/js/forTable.js")

    @RenderSection("partialScriptCss", false)

</head>
<body>
    <header>
        @{
            Html.RenderAction("Header", "Common");
        }
    </header>
    <div id="">
        @RenderBody()
    </div>
    <footer>
        @{
            Html.RenderAction("Footer", "Common");
        }
    </footer>

    @RenderSection("endScripts", false)
</body>
</html>
