@using LM.Model.Common
@using LM.Model.Model
@using LM.Utility
@{
    ViewBag.Title = "专家委员会";

    var list = ViewBag.Experts as List<ExpertModel>;

    var index = 0;
    var eindex = 0;
    var slideArticles = ViewBag.SlideArticles as List<ArticleModel>;
    var dynamicArticles = ViewBag.DynamicArticles as List<ArticleModel>;
}

@Html.RenderCss("/Content/css2/关于联盟.css")

<script type="text/javascript">
    $(document).ready(function () {
        // 取隐藏域里面的图片路径
        var imglist = [], idlist = [];
        var count = '@slideArticles.Count';
        for (var i = 0; i < count; i++) {
            var src = $('#slideSrc' + i).val();
            imglist.push(src);
            var id = $('#slideId' + i).val();
            idlist.push(id);
        }
        slide(imglist, idlist);

        // 加载默认的专家信息
        showIt($('#defaultExpert').val());
    });
</script>

<script>
    // 异步刷新页面
    function showIt(id) {
        var ajax = {
            url: '/Expert/Detail',
            data: JSON.stringify({ id: id }),
            type: 'Post',
            dataType: 'json',
            cache: false,
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                if (resp.status) {
                    // 渲染页面
                    var exp = resp.data;
                    $('#expertImg').attr('src', exp.ImgSrc);
                    $('#expertName').text(exp.RangeName + '：' + exp.Name);
                    $('#expertDesc').html(exp.Description);
                    $('#expertBooks').html(exp.Books != null ? exp.Books : "");
                } else {
                    alert(resp.message);
                }
            },
            error: function () {
                alert('系统故障，请联系管理员！');
            }
        }
        $.ajax(ajax);
    }
</script>

<div class="section" style="margin-bottom:20px;">
    <div class="section_left">
        <div class="top">
            <h3>专家委员会</h3>
            <h5 accesskey="">Expert Committee</h5>
        </div>

        <div class="expert_menu">
            <div id="firstpane" class="menu_list">

                <h3 class="menu_head current" style="font-size: 16px;">@ExpertRange.专家委员会组长</h3>
                <div style="display: block" class="menu_body">
                    @foreach (var ex in list.Where(e => e.Range == ExpertRange.专家委员会组长))
                    {
                        if (eindex++ == 0)
                        {
                    <input id="defaultExpert" type="hidden" value="@ex.Id" />
                        }
                    <a href="javascript:void(0);" onclick="showIt(@ex.Id)">@ex.Name</a>
                    }
                </div>

                <h3 class="menu_head" style="font-size: 16px;">@ExpertRange.专家委员会副组长</h3>
                <div style="display: none;" class="menu_body">
                    @foreach (var ex in list.Where(e => e.Range == ExpertRange.专家委员会副组长))
                    {
                    <a href="javascript:void(0);" onclick="showIt(@ex.Id)">@ex.Name</a>
                    }
                </div>

                <h3 class="menu_head" style="font-size: 16px;">@ExpertRange.专家委员会成员</h3>
                <div style="display: none;" class="menu_body">
                    @foreach (var ex in list.Where(e => e.Range == ExpertRange.专家委员会成员))
                    {
                    <a href="javascript:void(0);" onclick="showIt(@ex.Id)">@ex.Name</a>
                    }
                </div>

            </div>
        </div>

        <div class="slide">
            <!--幻灯片-->
            <style>
                .pic_list ul {
                    width: 100%;
                    margin-left: 24px;
                    margin-top: -15px;
                    position: relative;
                }

                .pic_list .li {
                    width: 20px;
                    height: 5px;
                    color: #ffffff;
                    background: #0872CA;
                    padding: 1px 6px;
                    float: left;
                    margin: 3px;
                    list-style: none;
                    cursor: pointer;
                }

                    .pic_list .li:hover {
                        background: #9fd5fc;
                        color: #0872ca;
                    }

                .pic_list .active {
                    background: #9fd5fc;
                    color: #0872ca;
                    /*font-weight: bold;*/
                }
            </style>

            <div id="aa" class="pic_list" style="width: 100%; height: 100%; float: left; border: 1px solid #ccc;">
                @foreach (var e in slideArticles)
                {
                    <input type="hidden" id="slideSrc@(index)" value="@e.ImgSrc" />
                    <input type="hidden" id="slideId@(index)" value="@e.Id" />
                    index++;
                }
                <a href="@(slideArticles.Count > 0 ? "/Article/Detail?id=" + slideArticles[0].Id : "")" target="_blank">
                    <img src="@(slideArticles.Count > 0 ? slideArticles[0].ImgSrc : "")" style="width: 100%; height: 100%;">
                </a>
                <ul id="aa_index">
                    @for (var i = 0; i < slideArticles.Count; i++)
                    {
                        <li class="li" cid="@(i+1)"></li>
                    }
                </ul>
            </div>
        </div>
        <div class="top">
            <h3>联盟动态</h3>
        </div>
        <ul class="news_left">
            @foreach (var a in dynamicArticles)
            {
            <li>
                <a href="/Article/Detail?id=@a.Id" target="_blank">@(a.Title)</a>
            </li>
            }
        </ul>
    </div>

    <div class="section_right">
        <div class="nav">
            当前位置：首页 > 专家委员会
        </div>
        <div class="nav_right">
            <span><img src="/Content/images2/home_轮播圆点蓝色.png" style="padding-right: 15px;">专家委员会</span>
        </div>
        <div class="expert" style="text-align:center;">
            <img id="expertImg" class="content_img" src="/Content/images2/home_新闻图片.jpg" />
            <p id="expertName">专家委员会组长：段雪</p>
        </div>
        <div class="mycontent">
            介绍：
            <p id="expertDesc">束带结发历史的开发了斯柯达加福禄寿凯迪拉克是大飞；石岛聚福林；可接受的老放假啦。四六级的弗兰克水电费。了束带结发历史的发，死定了空间发上来的咖啡机收代理费。</p>
            <br />
            成果：
            <p id="expertBooks">束带结发历史的附件里看了看说剪短发了康师傅，石岛聚福林是开发及。大姐夫老数据的发链接，是来得及发了圣诞节饭。</p>
        </div>
    </div>
</div>


<!--菜单的js和css-->
<script type="text/javascript">
    $(document).ready(function () {
        $("#firstpane .menu_body:eq(0)").show();
        $("#firstpane h3.menu_head").click(function () {
            $(this).addClass("current").next("div.menu_body").slideToggle(100).siblings("div.menu_body").slideUp("slow");
            $(this).siblings().removeClass("current");
        });
    });
</script>

<style type="text/css">
    .menu_list {
        width: 100%;
    }

    .menu_head {
        height: 40px;
        line-height: 40px;
        padding-left: 20px;
        font-size: 14px;
        color: #ffffff;
        cursor: pointer;
        border-left: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        border-top: 1px solid #F1F1F1;
        position: relative;
        margin: 0;
        font-weight: bold;
        background: #64B4F7 url(/Content/images2/左_2.png) 160px center no-repeat;
    }

    .menu_list .current {
        background: #64B4F7 url(/Content/images2/下_2.png) 160px center no-repeat;
    }

    .menu_body {
        line-height: 38px;
        border-left: 1px solid #e1e1e1;
        background: #ffffff;
        border-right: 1px solid #e1e1e1;
    }

        .menu_body a {
            display: block;
            height: 30px;
            line-height: 30px;
            padding-left: 30px;
            color: #6f6a6a;
            background: #fff;
            text-decoration: none;
            border-bottom: 1px solid #e1e1e1;
        }

            .menu_body a:hover {
                text-decoration: none;
                background-color: #C7EBFB;
            }
</style>
<!--// 菜单的js和css-->
