@using LM.Model.Common
@using LM.Model.Model
@using LM.Utility
@{
    ViewBag.Title = "专家委员会";

    var list = ViewBag.Experts as List<ExpertModel>;

    var index = 0;
    var eindex = 0;
    var slideArticles = ViewBag.SlideArticles as List<ArticleModel>;
    var dynamicArticles = ViewBag.DynamicArticles as List<ArticleModel>;
}

@Html.RenderCss("/Content/css2/关于联盟.css")

<script type="text/javascript">
    $(document).ready(function () {
        // 取隐藏域里面的图片路径
        var imglist = [], idlist = [];
        var count = '@slideArticles.Count';
        for (var i = 0; i < count; i++) {
            var src = $('#slideSrc' + i).val();
            imglist.push(src);
            var id = $('#slideId' + i).val();
            idlist.push(id);
        }
        slide(imglist, idlist);
    });
</script>

<script>
    // 异步刷新页面
    function showIt(id) {
        // 隐藏默认页面
        $('#defaultPage').hide();
        $('#detail').show();
        // 刷新专家详情
        var ajax = {
            url: '/Expert/Detail',
            data: JSON.stringify({ id: id }),
            type: 'Post',
            dataType: 'json',
            cache: false,
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                if (resp.status) {
                    // 渲染页面
                    var exp = resp.data;
                    $('#expertImg').attr('src', exp.ImgSrc);
                    $('#expertName').text(exp.RangeName + '：' + exp.Name);
                    $('#expertDesc').html(exp.Description);
                    $('#expertBooks').html(exp.Books != null ? exp.Books : "");
                } else {
                    alert(resp.message);
                }
            },
            error: function () {
                alert('系统故障，请联系管理员！');
            }
        }
        $.ajax(ajax);
    }
</script>

<div class="section" style="margin-bottom:20px;">
    <div class="section_left">
        <div class="top">
            <h3>专家委员会</h3>
            <h5 accesskey="">Expert Committee</h5>
        </div>

        <div class="expert_menu">
            <div id="firstpane" class="menu_list">

                <h3 class="menu_head @*current*@" style="font-size: 16px;">@ExpertRange.专家委员会组长</h3>
                <div style="display: none;" class="menu_body">
                    @foreach (var ex in list.Where(e => e.Range == ExpertRange.专家委员会组长))
                    {
                        if (eindex++ == 0)
                        {
                            <input id="defaultExpert" type="hidden" value="@ex.Id" />
                        }
                        <a href="javascript:void(0);" onclick="showIt(@ex.Id)">@ex.Name</a>
                    }
                </div>

                <h3 class="menu_head" style="font-size: 16px;">@ExpertRange.专家委员会副组长</h3>
                <div style="display: none;" class="menu_body">
                    @foreach (var ex in list.Where(e => e.Range == ExpertRange.专家委员会副组长))
                    {
                        <a href="javascript:void(0);" onclick="showIt(@ex.Id)">@ex.Name</a>
                    }
                </div>

                <h3 class="menu_head" style="font-size: 16px;">@ExpertRange.专家委员会成员</h3>
                <div style="display: none;" class="menu_body">
                    @foreach (var ex in list.Where(e => e.Range == ExpertRange.专家委员会成员))
                    {
                        <a href="javascript:void(0);" onclick="showIt(@ex.Id)">@ex.Name</a>
                    }
                </div>

            </div>
        </div>

        <div class="slide">
            <!--幻灯片-->
            <style>
                .pic_list ul {
                    width: 100%;
                    margin-left: 24px;
                    margin-top: -15px;
                    position: relative;
                }

                .pic_list .li {
                    width: 20px;
                    height: 5px;
                    color: #ffffff;
                    background: #0872CA;
                    padding: 1px 6px;
                    float: left;
                    margin: 3px;
                    list-style: none;
                    cursor: pointer;
                }

                    .pic_list .li:hover {
                        background: #9fd5fc;
                        color: #0872ca;
                    }

                .pic_list .active {
                    background: #9fd5fc;
                    color: #0872ca;
                    /*font-weight: bold;*/
                }
            </style>

            <div id="aa" class="pic_list" style="width: 100%; height: 100%; float: left; border: 1px solid #ccc;">
                @foreach (var e in slideArticles)
                {
                    <input type="hidden" id="slideSrc@(index)" value="@e.ImgSrc" />
                    <input type="hidden" id="slideId@(index)" value="@e.Id" />
                    index++;
                }
                <a href="@(slideArticles.Count > 0 ? "/Article/Detail?id=" + slideArticles[0].Id : "")" target="_blank">
                    <img src="@(slideArticles.Count > 0 ? slideArticles[0].ImgSrc : "")" style="width: 100%; height: 100%;">
                </a>
                <ul id="aa_index">
                    @for (var i = 0; i < slideArticles.Count; i++)
                    {
                        <li class="li" cid="@(i+1)"></li>
                    }
                </ul>
            </div>
        </div>
        <div class="top">
            <h3>联盟动态</h3>
        </div>
        <ul class="news_left">
            @foreach (var a in dynamicArticles)
            {
                <li>
                    <a href="/Article/Detail?id=@a.Id" target="_blank">@(a.Title)</a>
                </li>
            }
        </ul>
    </div>

    <div class="section_right">
        <div class="nav">
            当前位置：首页 > 专家委员会
        </div>
        <div class="nav_right">
            <span><img src="/Content/images2/home_轮播圆点蓝色.png" style="padding-right: 15px;">专家委员会</span>
        </div>

        <div class="mycontent" id="defaultPage">
            <div class="title">中国电子化工新材料产业联盟专家委员会专家名单</div>

            <table style="max-width: 100%; width: 100%;">
                <tr>
                    <td class="expert_type" colspan="2">主&emsp;任：</td>
                </tr>
                <tr>
                    <td class="expert_name">段&emsp;雪</td>
                    <td class="expert_desc">中国科学院院士&emsp;北京化工大学化工资源有效利用国家重点实验室主任</td>
                </tr>

                <tr>
                    <td class="expert_type" colspan="2">副主任：</td>
                </tr>
                <tr>
                    <td class="expert_name">王治强</td>
                    <td class="expert_desc">教授&emsp;&emsp;清华大学科研院副院长</td>
                </tr>
                <tr>
                    <td class="expert_name">李齐方</td>
                    <td class="expert_desc">教授&emsp;&emsp;北京化工大学材料学院</td>
                </tr>

                <tr>
                    <td class="expert_type" colspan="2">专家组成员：</td>
                </tr>
                <tr>
                    <td class="expert_name">杨国强</td>
                    <td class="expert_desc">研究员/博导，中国科学院大学副校长，中科院化学所研究员</td>
                </tr>
                <tr>
                    <td class="expert_name">杨士勇</td>
                    <td class="expert_desc">研究员/博导，中国科学院化学研究所高技术材料实验室主任</td>
                </tr>
                <tr>
                    <td class="expert_name">许振良</td>
                    <td class="expert_desc">教授，华东理工大学化学工程研究所所长</td>
                </tr>
                <tr>
                    <td class="expert_name">于&emsp;洁</td>
                    <td class="expert_desc">教授高工，华烁科技股份有限公司(原湖北省化学研究院)新型显示材料事业部总经理</td>
                </tr>
                <tr>
                    <td class="expert_name">赵海军</td>
                    <td class="expert_desc">博士，IC领域专家，中芯国际执行副总裁兼首席运营官</td>
                </tr>
                <tr>
                    <td class="expert_name">薛建设</td>
                    <td class="expert_desc">教授级高工，京东方科技集团股份有限公司显示技术研究院总监</td>
                </tr>
                <tr>
                    <td class="expert_name">徐&emsp;伟</td>
                    <td class="expert_desc">集成电路专家，上海华虹宏力半导体制造有限公司副总裁</td>
                </tr>
                <tr>
                    <td class="expert_name">向传义</td>
                    <td class="expert_desc">博士，平板显示专家，天马微电子集团有机发光总经理</td>
                </tr>
                <tr>
                    <td class="expert_name">张&emsp;玮</td>
                    <td class="expert_desc">平板显示专家，深圳市华星光电技术有限公司技术总监</td>
                </tr>
                <tr>
                    <td class="expert_name">叶向荣</td>
                    <td class="expert_desc">博士，国家千人计划特聘专家，巨化集团公司</td>
                </tr>
                <tr>
                    <td class="expert_name">孙福楠</td>
                    <td class="expert_desc">教授级高工，电子气体专家，中昊光明化工研究设计院总工程师</td>
                </tr>
                <tr>
                    <td class="expert_name">周远建</td>
                    <td class="expert_desc">副主任，中蓝晨光化工研究设计院有限公司，氟硅有机材料专家</td>
                </tr>
                <tr>
                    <td class="expert_name">张建君</td>
                    <td class="expert_desc">教授级高工，浙江省化工研究院有限公司，氟硅材料专家</td>
                </tr>
                <tr>
                    <td class="expert_name">张景利</td>
                    <td class="expert_desc">教授级高工，黎明化工研究设计院有限责任公司厂长 </td>
                </tr>
                <tr>
                    <td class="expert_name">周晓猛</td>
                    <td class="expert_desc">教授，南开大学环境科学研究院，环保专家</td>
                </tr>
                <tr>
                    <td class="expert_name">周泽义</td>
                    <td class="expert_desc">博士/研究员，中国计量科学研究院，计量分析专家</td>
                </tr>
            </table>
        </div>

        <div id="detail" style="display: none;">
            <div class="expert" style="text-align:center;">
                <img id="expertImg" class="content_img" src="" />
                <p id="expertName"></p>
            </div>
            <div class="mycontent">
                介绍：
                <p id="expertDesc"></p>
                <br />
                成果：
                <p id="expertBooks"></p>
            </div>
        </div>
    </div>
</div>


<!--菜单的js和css-->
<script type="text/javascript">
    $(document).ready(function () {
        //$("#firstpane .menu_body:eq(0)").show();
        $("#firstpane h3.menu_head").click(function () {
            $(this).addClass("current").next("div.menu_body").slideToggle(200).siblings("div.menu_body").slideUp("slow");
            $(this).siblings().removeClass("current");
        });
    });
</script>

<style type="text/css">
    .menu_list {
        width: 100%;
    }

    .menu_head {
        height: 40px;
        line-height: 40px;
        padding-left: 20px;
        font-size: 14px;
        color: #ffffff;
        cursor: pointer;
        border-left: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        border-top: 1px solid #F1F1F1;
        position: relative;
        margin: 0;
        font-weight: bold;
        background: #64B4F7 url(/Content/images2/左_2.png) 160px center no-repeat;
    }

    .menu_list .current {
        background: #64B4F7 url(/Content/images2/下_2.png) 160px center no-repeat;
    }

    .menu_body {
        line-height: 38px;
        border-left: 1px solid #e1e1e1;
        background: #ffffff;
        border-right: 1px solid #e1e1e1;
    }

        .menu_body a {
            display: block;
            height: 30px;
            line-height: 30px;
            padding-left: 30px;
            color: #6f6a6a;
            background: #fff;
            text-decoration: none;
            border-bottom: 1px solid #e1e1e1;
        }

            .menu_body a:hover {
                text-decoration: none;
                background-color: #C7EBFB;
            }
</style>
<!--// 菜单的js和css-->
