@using LM.Model.Model
@using LM.Utility
@{
    ViewBag.Title = "产品展示";
    var type = ViewBag.Type;

    var typeList = ViewBag.TypeList as List<CategoryModel>;
    var info = ViewBag.Product as ProductModel;
    var comps = ViewBag.Companies as List<CompanyModel> ?? new List<CompanyModel>();

    var briefs = ViewBag.Briefs as List<BriefModel>;
}
@*@Html.RenderCss("/Content/css2/产品展示.css")*@
@Html.RenderCss("/Content/css2/产品介绍.css")
@Html.RenderCss("/Content/css2/关于联盟.css")

<div class="section" style="margin-bottom:20px;">
    <div class="section_left">
        <div class="top">
            <h3>产品展示</h3>
            <h5 accesskey="">Alliance Products</h5>
        </div>

        @foreach (var item in typeList)
        {
        <a href="/Product/List?type=@item.Id">
            <div class="title_left">
                @(item.Name)&nbsp;<samp>>></samp>
            </div>
        </a>
        }

        <div class="slide1">
            <br />
            <span class="slide_title">关注联盟微信</span>
            <div class="slide_qr">
                <img src="/Content/images2/home_qr.jpg" width="80%" style="margin: auto auto;" />
            </div>
        </div>
        <div class="top">
            <h3>联盟简报</h3>
        </div>
        <ul class="news_left">
            @foreach (var b in briefs)
            {
            <li>
                <a href="@(b.FilePath)">@(b.Name)</a>
            </li>
            }
        </ul>
    </div>

    <div class="section_right">
        <div class="nav">
            当前位置：首页 > 产品展示 > @typeList.FirstOrDefault(t => t.Id == type).Name
        </div>

        <div class="contents mycontent">
            <div class="pane_link">
                <img src="@info.ImgSrc" />
                <div class="detailed">
                    <p>名称：@info.Name</p>
                    <p>级别：@info.Level</p>
                    <p>状体：@info.State</p>
                    <p>应用：@info.Application</p>
                </div>
            </div>
            <div class="contents_back">
                产品介绍
            </div>
            <div class="contents_new">
                @Html.Raw(info.Description)
            </div>
        </div>
    </div>
</div>


