@using LM.Model.Model
@using LM.Utility
@using LM.WebUI.Areas.Admin.Models
@{
    ViewBag.Title = "产品展示";
    var type = ViewBag.Type;

    var list = ViewBag.Products as List<ProductModel>;
    var typeList = ViewBag.TypeList as List<CategoryModel>;
    var pageInfo = (ViewBag.PageInfo as PageInfo) ?? new PageInfo();
}

@Html.RenderCss("/Content/css/联盟成员.css")
@Html.RenderScript("/Areas/Admin/Content/js/laypage/laypage.js")

@section partialScriptCss{
    <script>
        $(function () {
            /* 分页使用异步 */
            laypage({
                cont: document.getElementById('pageDiv1'), //容器。值支持id名、原生dom对象，jquery对象,
                pages: '@pageInfo.PageCount', //总页数
                curr: '@pageInfo.PageIndex', // 当前页
                groups: 3, //连续显示分页数
                skin: '#0072C6',
                jump: function (e, first) {
                    // 第一次的事件必须要判断
                    if (!first) {
                        var type = $('#type').val();
                        window.location.href = '/Product/List?&pindex=' + e.curr + (type !== '' ? '&type=' + type : '');
                    }
                }
            });
        });

        // div 变换
        function toggleShadow(dom) {
            var claz = $(dom).attr('class');
            if (claz === 'pane_goods') {
                $(dom).addClass('shadow');
                return;
            }
            $(dom).removeClass('shadow');
        }
    </script>
}

<div class="bg">
    <div class="about_main">
        <div class="aboutleft">
            <!-- left -->
            <div class="ab_t mt20">
                <span class="ab_t01 pl10">产品展示</span>
                <br />
                <span class="ab_t02 pl10">Union Members</span>
            </div>
            <div class="ab_c mt20">
                <ul>
                    @foreach (var item in typeList)
                    {
                        <li><a href="/Product/List?type=@item.Id">@item.Name</a></li>
                    }
                </ul>
            </div>
        </div>

        <div class="about_right">
            <div class="weizi">
                <span>当前位置：</span>
                <a href="/Home/Index">首页</a> &gt;
                <a href="/Product/List">产品展示</a>
                @if (typeList.Count > 0)
                {
                    @:&gt;<a href="/Product/List?type=@type">@typeList.FirstOrDefault(t => t.Id == type).Name</a>
                }
            </div>

            <div style="width: 630px; height: 450px; margin: 0px auto;">
                @if (list != null && list.Count > 0)
                {
                    <div class="panes">
                        <div class="pane" style="display: block;">
                            @foreach (var item in list)
                            {
                                <div class="pane_goods" onmouseover="toggleShadow(this);" onmouseout="toggleShadow(this);">
                                    <a href="/Product/Detail?id=@item.Id" target="_blank" title="@item.Name">
                                        <img src="@item.ImgSrc" />
                                        <p>@(item.Name.Length > 24 ? item.Name.Substring(0, 21) + "...." : item.Name)</p>
                                    </a>
                                </div>
                            }
                        </div>
                        <!--分页-->
                        <div class="pageDiv" id="pageDiv1" style="margin: 20px auto;"></div>
                    </div>
                }
                else
                {
                    <div>无数据！</div>
                }
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="type" value="@type" />


