@using LM.Model.Model
@using LM.Utility
@using LM.WebUI.Areas.Admin.Models
@{
    ViewBag.Title = "产品展示";
    var type = ViewBag.Type;

    var list = ViewBag.Products as List<ProductModel>;
    var typeList = ViewBag.TypeList as List<CategoryModel>;
    var pageInfo = (ViewBag.PageInfo as PageInfo) ?? new PageInfo();

    var briefs = ViewBag.Briefs as List<BriefModel>;
}
@Html.RenderCss("/Content/css2/产品展示.css")
@Html.RenderCss("/Content/css2/关于联盟.css")
@Html.RenderScript("/Areas/Admin/Content/js/laypage/laypage.js")
@section partialScriptCss{
    <script>
        $(function () {
            /* 分页使用异步 */
            laypage({
                cont: document.getElementById('pageDiv1'), //容器。值支持id名、原生dom对象，jquery对象,
                pages: '@pageInfo.PageCount', //总页数
                curr: '@pageInfo.PageIndex', // 当前页
                groups: 3, //连续显示分页数
                skin: '#6F6A6A',
                jump: function (e, first) {
                    // 第一次的事件必须要判断
                    if (!first) {
                        var type = $('#type').val();
                        window.location.href = '/Product/List?&pindex=' + e.curr + (type !== '' ? '&type=' + type : '');
                    }
                }
            });
        });

        // div 变换
        function toggleShadow(dom) {
            var claz = $(dom).attr('class');
            if (claz === 'pane_goods') {
                $(dom).addClass('shadow');
                return;
            }
            $(dom).removeClass('shadow');
        }
    </script>
}


<div class="section" style="margin-bottom:20px;">
    <div class="section_left">
        <div class="top">
            <h3>产品展示</h3>
            <h5 accesskey="">Alliance Products</h5>
        </div>

        @foreach (var item in typeList)
        {
        <a href="/Product/List?type=@item.Id">
            <div class="title_left">
                @(item.Name)&nbsp;<samp>>></samp>
            </div>
        </a>
        }

        <div class="slide1">
            <div class="slide_qr">
                <img src="/Content/images2/home_qr.jpg" width="80%" style="margin: auto auto;" />
            </div>
            <span class="slide_title">关注联盟微信</span>
            <br />
        </div>

        <div class="top">
            <h3>联盟简报</h3>
        </div>
        <ul class="news_left">
            @foreach (var b in briefs)
            {
            <li>
                <a href="@(b.FilePath)" target="_blank">@(b.Name)</a>
            </li>
            }
        </ul>
    </div>

    <div class="section_right">
        <div class="nav">
            当前位置：首页 > 产品展示 > @typeList.FirstOrDefault(t => t.Id == type).Name
        </div>
        <div class="nav_right">
            <span><img src="/Content/images2/home_轮播圆点蓝色.png" style="padding-right: 15px;">@typeList.FirstOrDefault(t => t.Id == type).Name</span>
        </div>

        <div class="mycontent">
            @if (list != null && list.Count > 0)
            {
                foreach (var item in list)
                {
                    <div class="pane_link">
                        <a href="/Product/Detail?id=@item.Id&type=@type">
                            <img src="@item.ImgSrc" />
                        </a>
                        <div class="detailed">
                            <p>名称：@item.Name</p>
                            <p>级别：@item.Level</p>
                            <p>企业：@item.Company</p>
                            <p>应用：@item.Application</p>
                        </div>
                    </div>
                }
            }
            else
            {
                <div>无数据！</div>
            }
        </div>
        <!--分页-->
        <div class="pageDiv1" id="pageDiv1"></div>
    </div>
</div>


<input type="hidden" id="type" value="@type" />

