@using LM.Model.Model
@using LM.Utility
@{
    Layout = "~/Areas/Admin/Views/Shared/_Main.cshtml";
    ViewBag.Title = "Article";
    var model = ViewBag.Article as ArticleModel;
}
@Html.RenderCss("/Areas/Admin/Content/js/kindeditor/plugins/code/prettify.css")

@Html.RenderScript("/Areas/Admin/Content/js/kindeditor/kindeditor.js")
@Html.RenderScript("/Areas/Admin/Content/js/kindeditor/lang/zh_CN.js")
@Html.RenderScript("/Areas/Admin/Content/js/kindeditor/plugins/code/prettify.js")

<!-- KindEditor -->
<script type="text/javascript">
    var editor;
    KindEditor.ready(function (K) {
        editor = K.create('#container', {
            //上传管理
            uploadJson: '/Admin/Common/EditorFileUpload',
            //uploadJson: '/Areas/Admin/Content/js/kindeditor/asp.net/upload_json.ashx',
            //文件管理
            fileManagerJson: '/Areas/Common/EditorFileUpload',
            allowFileManager: true,
            //上传文件后执行的回调函数,获取上传图片的路径
            afterUpload: function (url) {
            },
            //编辑器高度
            width: '800px',
            //编辑器宽度
            height: '500px;',
            //配置编辑器的工具栏
            items: [
                'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image',
                'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
                'anchor', 'link', 'unlink', '|', 'about'
            ]
        });
        prettyPrint();
    });
</script>
<!-- /KindEditor -->

<script type="text/javascript">
    var commitFlag = true;
    function submitIt() {
        // 判空
        if (!checkNull()) {
            commitFlag = true;
            return;
        }
        commitFlag = false;

        var article = {
            Id: $('#id').val(),
            Title: $('#title').val(),
            Type: $('#type').val(),
            Author: $('#author').val(),
            Origin: $('#origin').val(),
            Keywords: $('#keywords').val(),
            Brief: $('#brief').val(),
            Content: editor.html(),
            IsRecommend: $('#isRecommend').val(),
            IsFocus: $('#isFocus').val(),
            IsShow: $('#isShow').val(),
            ImgSrc: $(window.frames[0].document).find('.ke-content img:eq(0)').attr('src') // 取第一个img路径
        }
        // 封装数据
        var ajax = {
            url: '/Admin/Article/Save',
            data: JSON.stringify(article),
            type: 'Post',
            dataType: 'json',
            cache: false,
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                if (resp.status) {
                    alert(resp.message);
                    window.location.href = '/Admin/Article/List';
                } else {
                    alert(resp.message);
                    commitFlag = true;
                }
            },
            error: function () {
                alert('系统故障，请联系管理员！');
                commitFlag = true;
            }
        }
        $.ajax(ajax);
    }

    function checkNull() {
        var ok = true;
        if ($('#type').val() === '') {
            $('#msg0').text('请选择文章类型！');
            ok = false;
        }
        if ($('#title').val() === '') {
            $('#msg1').text('请填写文章标题！');
            ok = false;
        }
        ok && clearMsgs();
        return ok;
    }

    function clearMsgs() {
        $('#msg0').text("");
        $('#msg1').text("");
    }
</script>

<!--3. Main-->
<div id="dcMain">
    <!-- 当前位置 -->
    <div id="urHere">
        后台管理中心<b>></b><strong>添加文章</strong>
    </div>

    <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="/Admin/Article/List" class="actionBtn">文章列表</a>添加文章</h3>
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">

            <tr>
                <td align="right">文章分类</td>
                <td>
                    <select id="type" name="type">
                        <option value="联盟动态" @(model.Type != null && model.Type.Equals("联盟动态") ? "selected" : "")> 联盟动态</option>
                        <option value="行业信息" @(model.Type != null && model.Type.Equals("行业信息") ? "selected" : "")> 行业信息</option>
                        <option value="科技成果" @(model.Type != null && model.Type.Equals("科技成果") ? "selected" : "")> 科技成果</option>
                        <option value="寻求合作" @(model.Type != null && model.Type.Equals("寻求合作") ? "selected" : "")> 寻求合作</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td width="90" align="right">文章标题</td>
                <td>
                    <input type="text" id="title" value="@(model.Title ?? "")" size="80" class="inpMain" />
                    <font class="prompt" color="red">*</font><span id="msg1" class="prompt"></span>
                </td>
            </tr>
            <tr>
                <td width="90" align="right">文章来源</td>
                <td>
                    <input type="text" id="origin" value="@(model.Origin ?? "")" size="80" class="inpMain" />
                    <span id="msg2" class="prompt"></span>
                </td>
            </tr>
            <tr>
                <td width="90" align="right">作者</td>
                <td>
                    <input type="text" id="author" value="@(model.Author)" size="80" class="inpMain" placeholder="" />
                </td>
            </tr>
            <tr>
                <td width="90" align="right">关键词</td>
                <td>
                    <input type="text" id="keywords" value="@(model.Keywords ?? "")" size="80" class="inpMain" placeholder='请以逗号或空格分隔，如：电子科技，太阳能 新材料' />
                    <span id="msg4" class="prompt"></span>
                </td>
            </tr>
            <tr id="trBrief">
                <td width="90" align="right">内容摘要</td>
                <td>
                    <textarea name="description" id="brief" class="inpMain" style="font-size: 14px; color: #999; height: 50px; border: 1px solid #D6D6D6; width: 520px; height: 160px; padding: 5px;">@(model.Brief ?? "")</textarea>
                    <span id="msg5" class="prompt"></span>
                </td>
            </tr>
            <tr>
                <td align="right" valign="top">文章正文</td>
                <td>
                    <textarea name="container" id="container" style="width: 800px; height: 300px;">@(model.Content ?? "")</textarea>
                </td>
            </tr>

            <tr>
                <td align="right">是否推荐</td>
                <td>
                    <select id="isRecommend" name="isRecommend">
                        <option value="false" @(model.IsRecommend ? "" : "selected")> 否</option>
                        <option value="true" @(model.IsRecommend ? "selected" : "")> 是</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">特别关注</td>
                <td>
                    <select name="isFocus" id="isFocus">
                        <option value="false" @(model.IsFocus ? "" : "selected")> 否</option>
                        <option value="true" @(model.IsFocus ? "selected" : "")> 是</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">是否展示</td>
                <td>
                    <select name="isShow" id="isShow">
                        <option value="false" @(model.IsShow ? "" : "selected")> 否</option>
                        <option value="true" @(model.IsShow ? "selected" : "")> 是</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input type="hidden" id="id" name="id" value="@(model.Id)">
                    <input type="hidden" id="hits" name="hits" value="@(model.Hits)">
                    <input name="submit" style="margin-left: 30%;" class="btn" type="button" value="提交" onclick="return submitIt() && false;" />
                </td>
            </tr>
        </table>
    </div>

</div>
