@using LM.Utility
@{
    ViewBag.Title = "后台管理系统";
    var nav = ViewBag.Nav ?? "";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>后台管理系统</title>
    @Html.RenderCss("/Areas/Admin/content/css/public.css")
    @Html.RenderScript("/Areas/Admin/content/js/jquery-1.9.1.js")
    @Html.RenderScript("/Areas/Admin/content/js/global.js")
</head>
<body>

    <div id="dcWrap">

        <!--1. Top-->
        <div id="dcHead">
            <div id="head">
                <div class="logo">
                    <a href="/Admin/Home/Index"><img src="/Areas/Admin/content/images/dclogo.gif" alt="logo"></a>
                </div>
                <div class="nav">
                    <ul>
                        <li class="M">
                            <a href="JavaScript:void(0);" class="topAdd">新建</a>
                            <div class="drop mTopad">
                                <a href="/Admin/Product/Add">商品</a>
                                <a href="/Admin/Article/Add">文章</a>
                                <a href="/Admin/Company/Add">成员企业</a>
                                <a href="/Admin/Expert/Add">专家成员</a>
                                <a href="/Admin/User/Add">管理员</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navRight">
                        <li class="M noLeft">
                            <a href="JavaScript:void(0);">您好，admin</a>
                            <div class="drop mUser">
                                <a href="/Admin/Home/EditUser">编辑我的个人资料</a>
                            </div>
                        </li>
                        <li class="noRight"><a href="/Admin/Home/Logout">退出</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!--2. Left-->
        <div id="dcLeft">
            <div id="menu">
                <ul class="top">
                    <li @Html.Raw("Index".Equals(nav) ? "class='cur'" : "")><a href="/Admin/Home/Index"><i class="home"></i><em>首页配置</em></a></li>
                </ul>
                <ul>
                    <li @Html.Raw("BasicInfo".Equals(nav) ? "class='cur'" : "")><a href="/Admin/Home/BasicInfo"><i class="system"></i><em>联盟基本信息</em></a></li>
                    <li @Html.Raw("Introduce".Equals(nav) ? "class='cur'" : "")><a href="/Admin/Home/Introduce"><i class="page"></i><em>联盟介绍</em></a></li>
                    <li @Html.Raw("Constitute".Equals(nav) ? "class='cur'" : "")><a href="/Admin/Home/Constitute"><i class="page"></i><em> 联盟章程</em></a></li>
                    <li @Html.Raw("Organize".Equals(nav) ? "class='cur'" : "")><a href="/Admin/Home/Organize"><i class="page"></i><em>联盟组织</em></a></li>
                    <li @Html.Raw("Notice".Equals(nav) ? "class='cur'" : "")><a href="/Admin/Home/Notice"><i class="page"></i><em>入盟须知</em></a></li>
                    <li @Html.Raw("Process".Equals(nav) ? "class='cur'" : "")><a href="/Admin/Home/Process"><i class="page"></i><em>申请流程</em></a></li>
                </ul>
                <ul>
                    <li @Html.Raw("ProductCategory".Equals(nav) ? "class='cur'" : "")><a href="/Admin/Product/Category"><i class="productCat"></i><em>产品分类</em></a></li>
                    <li @Html.Raw("ProductList".Equals(nav) ? "class='cur'" : "")><a href="/Admin/Product/List"><i class="product"></i><em>产品列表</em></a></li>
                </ul>
                <ul>
                    <li @Html.Raw("ArticleCategory".Equals(nav) ? "class='cur'" : "")><a href="/Admin/Article/Category"><i class="articleCat"></i><em>文章分类</em></a></li>
                    <li @Html.Raw("ArticleList".Equals(nav) ? "class='cur'" : "")><a href="/Admin/Article/List"><i class="article"></i><em>文章列表</em></a></li>
                </ul>
                <ul>
                    <li @Html.Raw("CompanyList".Equals(nav) ? "class='cur'" : "")><a href="/Admin/Company/List"><i class="articleCat"></i><em>成员企业列表</em></a></li>
                </ul>
                <ul>
                    <li @Html.Raw("ExpertList".Equals(nav) ? "class='cur'" : "")><a href="/Admin/Expert/List"><i class="articleCat"></i><em>专家列表</em></a></li>
                </ul>
                <ul class="bot">
                    <li @Html.Raw("UserList".Equals(nav) ? "class='cur'" : "")><a href="/Admin/Home/UserList"><i class="manager"></i><em>网站管理员</em></a></li>
                    <li @Html.Raw("OpLogList".Equals(nav) ? "class='cur'" : "")><a href="/Admin/Home/OpLogList"><i class="managerLog"></i><em>操作记录</em></a></li>
                </ul>
            </div>
        </div>

        <!--3. Main-->
        @RenderBody()

        <!--4. Foot-->
        <div class="clear"></div>
        <div id="dcFooter">
            <div id="footer">
                <div class="line"></div>
                <ul>
                    版权所有 © 2013-2015 漳州豆壳网络科技有限公司，并保留所有权利。
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>

</body>
</html>