@using LM.Model.Model
@using LM.Utility
@using LM.WebUI.Areas.Admin.Models
@{
    ViewBag.Title = "科研成果";

    var list = ViewBag.Models as List<FruitsModel>;
    var pageInfo = (ViewBag.PageInfo as PageInfo) ?? new PageInfo();

    var index = 0;
    var slideArticles = ViewBag.SlideArticles as List<ArticleModel>;
    var dynamicArticles = ViewBag.DynamicArticles as List<ArticleModel>;
}

@Html.RenderCss("/Content/css/about.css")
@Html.RenderScript("/Areas/Admin/Content/js/laypage/laypage.js")

@section partialScriptCss{
    <script>
        $(function () {
            // 表格交替颜色
            $(".class tr:odd").css('background-color', '#E8E8E8');
            $("table tr:even").css('background-color', '#E8E8E8');
            $(".th1").css('background-color', '#559BD6');
            /* 分页使用异步 */
            laypage({
                cont: document.getElementById('pageDiv1'), //容器。值支持id名、原生dom对象，jquery对象,
                pages: '@pageInfo.PageCount', //总页数
                curr: '@pageInfo.PageIndex', // 当前页
                groups: 3, //连续显示分页数
                skin: '#6F6A6A',
                jump: function (e, first) {
                    // 第一次的事件必须要判断
                    if (!first) {
                        window.location.href = '/Fruits/List?&pindex=' + e.curr;
                    }
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            // 取隐藏域里面的图片路径
            var imglist = [], idlist = [];
            var count = '@slideArticles.Count';
            for (var i = 0; i < count; i++) {
                var src = $('#slideSrc' + i).val();
                imglist.push(src);
                var id = $('#slideId' + i).val();
                idlist.push(id);
            }
            slide(imglist, idlist);

        });
    </script>
}

<div class="section" style="margin-bottom:20px;">
    <div class="section_left">
        <div class="top1">
            <h3>联盟科研信息发布平台</h3>
        </div>
        <div style="padding: 20px 20px; border: 1px solid #E8E8E8; background-color: #E8E8E8; ">
            电子化工新材料产业联盟网络平台，可接受联盟企业事业单位及化工领域单位相关电子化工新产品、新科研成果发布及寻求合作信息。
            <br />
            <br />
            联盟邮箱：
            <br />
            cem@c-e-a.com
            <br />
            <div class="fruitdownload">
                <a href="/Content/doc/中国电子化工新材料产业联盟科研成果发布资料表.docx" target="_blank">
                    <input type="button" name="联盟科研信息格式文件下载" value="联盟科研信息格式文件下载"></input>
                </a>
            </div>
        </div>

        <div class="slide">
            <!--幻灯片-->
            <style>
                .pic_list ul {
                    width: 100%;
                    margin-left: 24px;
                    margin-top: -15px;
                    position: relative;
                }

                .pic_list .li {
                    width: 20px;
                    height: 5px;
                    color: #ffffff;
                    background: #0872CA;
                    padding: 1px 6px;
                    float: left;
                    margin: 3px;
                    list-style: none;
                    cursor: pointer;
                }

                    .pic_list .li:hover {
                        background: #9fd5fc;
                        color: #0872ca;
                    }

                .pic_list .active {
                    background: #9fd5fc;
                    color: #0872ca;
                    /*font-weight: bold;*/
                }
            </style>

            <div id="aa" class="pic_list" style="width: 100%; height: 100%; float: left; border: 1px solid #ccc;">
                @foreach (var e in slideArticles)
                {
                    <input type="hidden" id="slideSrc@(index)" value="@e.ImgSrc" />
                    <input type="hidden" id="slideId@(index)" value="@e.Id" />
                    index++;
                }
                <a href="@(slideArticles.Count > 0 ? "/Article/Detail?id=" + slideArticles[0].Id : "")" target="_blank">
                    <img src="@(slideArticles.Count > 0 ? slideArticles[0].ImgSrc : "")" style="width: 100%; height: 100%;">
                </a>
                <ul id="aa_index">
                    @for (var i = 0; i < slideArticles.Count; i++)
                    {
                        <li class="li" cid="@(i+1)"></li>
                    }
                </ul>
            </div>
        </div>

        <div class="top">
            <h3>联盟动态</h3>
        </div>
        <ul class="news_left">
            @foreach (var a in dynamicArticles)
            {
                <li>
                    <a href="/Article/Detail?id=@a.Id" target="_blank">@(a.Title)</a>
                </li>
            }
        </ul>
    </div>
    <div class="section_right">
        <div class="nav">
            当前位置：首页 > 科研成果
        </div>
        <div class="nav_right">
            <span><img src="/Content/images2/home_bluedot.png" style="padding-right: 15px;">科研成果</span>
        </div>


        <style>
            table {
                border-collapse: collapse;
                border-spacing: 3px;
                border-left: 2px solid #fff;
                border-top: 2px solid #fff;
                /*background: rgb(128, 191, 245);*/
            }

            th, td {
                border-right: 2px solid #fff;
                border-bottom: 2px solid #fff;
                padding: 5px 5px;
                height: 3em;
                font-size: 15px;
            }
        </style>
        <table width="98%" border="0" cellpadding="1" cellspacing="2" class="tableBasic1" style="margin: auto;margin-top: 30px ;border-width: 0px; border-spacing: 30px 20px; ">
            @if (list != null && list.Count > 0)
            {
                <tr class="th1" style="background-color: #559BD6; font-family: 'Microsoft Yahei'; color: #ffffff; ">
                    <th align="center">科研成果名称</th>
                    <th align="center">成果类别</th>
                    <th align="center">科技研发单位</th>
                    <th align="center">负责人</th>
                </tr>

                foreach (var model in list)
                {
                    <tr>
                        <td style="width: 280px;">
                            <a class="fruit_name" href="/Fruits/Detail?id=@(model.Id)" target="_blank">@(model.Name)</a>
                        </td>
                        <td align="center" style="width: 150px;">
                            @(model.Type)
                        </td>
                        <td align="center" style="width: 230px;">
                            @(model.Company)
                        </td>
                        <td align="center" style="width: 80px;">
                            @(model.Leader)
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <th width="22" align="center">
                        <span style="text-align: center;">无数据！</span>
                    </th>
                </tr>
            }
        </table>
        <!--分页-->
        <div class="pageDiv1" id="pageDiv1" style="margin:50px;"></div>
    </div>
</div>
