@using LM.Model.Model
@using LM.Utility
@{
    Layout = "~/Areas/Admin/Views/Shared/_Main.cshtml";
    ViewBag.Title = "BasicInfo";
    var baseInfo = ViewBag.BaseInfo as BaseInfoModel ?? new BaseInfoModel();
    var currTab = ViewBag.CurrTab ?? "contract";
}
@Html.RenderCss("/Areas/Admin/content/js/kindeditor/plugins/code/prettify.css")

@Html.RenderScript("/Areas/Admin/content/js/kindeditor/kindeditor.js")
@Html.RenderScript("/Areas/Admin/content/js/kindeditor/lang/zh_CN.js")
@Html.RenderScript("/Areas/Admin/content/js/kindeditor/plugins/code/prettify.js")
@Html.RenderScript("/Areas/Admin/content/js/jquery.tab.js")

<script type="text/javascript">
    $(function () { $(".idTabs").idTabs('@currTab'); });
</script>

<!-- KindEditor -->
<script type="text/javascript">
    var mapEditor, introEditor, chapterEditor, orgEditor, noticeEditor, procEditor;
    KindEditor.ready(function (K) {
        mapEditor = K.create('#mapDiv', {
            //上传管理
            uploadJson: '/Admin/Common/EditorFileUpload',
            //文件管理
            fileManagerJson: '/Areas/Common/EditorFileUpload',
            allowFileManager: true,
            //上传文件后执行的回调函数,获取上传图片的路径
            afterUpload: function (url) {
            },
            //编辑器高度
            width: '550px',
            //编辑器宽度
            height: '450px;',
            //配置编辑器的工具栏
            items: [
                'source', '|', 'undo', 'redo', '|', 'baidumap', 'preview'
            ]
        });
        prettyPrint();

        introEditor = K.create('#introDiv', {
            //上传管理
            uploadJson: '/Admin/Common/EditorFileUpload',
            //文件管理
            fileManagerJson: '/Areas/Common/EditorFileUpload',
            allowFileManager: true,
            //上传文件后执行的回调函数,获取上传图片的路径
            afterUpload: function (url) {
            },
            //编辑器高度
            width: '850px',
            //编辑器宽度
            height: '500px;',
            //配置编辑器的工具栏
            items: [
                'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image',
                'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
                'anchor', 'link', 'unlink', '|', 'about'
            ]
        });
        prettyPrint();

        chapterEditor = K.create('#chapterDiv', {
            //上传管理
            uploadJson: '/Admin/Common/EditorFileUpload',
            //文件管理
            fileManagerJson: '/Areas/Common/EditorFileUpload',
            allowFileManager: true,
            //上传文件后执行的回调函数,获取上传图片的路径
            afterUpload: function (url) {
            },
            //编辑器高度
            width: '850px',
            //编辑器宽度
            height: '500px;',
            //配置编辑器的工具栏
            items: [
                'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image',
                'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
                'anchor', 'link', 'unlink', '|', 'about'
            ]
        });
        prettyPrint();

        orgEditor = K.create('#orgDiv', {
            //上传管理
            uploadJson: '/Admin/Common/EditorFileUpload',
            //文件管理
            fileManagerJson: '/Areas/Common/EditorFileUpload',
            allowFileManager: true,
            //上传文件后执行的回调函数,获取上传图片的路径
            afterUpload: function (url) {
            },
            //编辑器高度
            width: '850px',
            //编辑器宽度
            height: '500px;',
            //配置编辑器的工具栏
            items: [
                'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image',
                'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
                'anchor', 'link', 'unlink', '|', 'about'
            ]
        });
        prettyPrint();

        noticeEditor = K.create('#noticeDiv', {
            //上传管理
            uploadJson: '/Admin/Common/EditorFileUpload',
            //文件管理
            fileManagerJson: '/Areas/Common/EditorFileUpload',
            allowFileManager: true,
            //上传文件后执行的回调函数,获取上传图片的路径
            afterUpload: function (url) {
            },
            //编辑器高度
            width: '850px',
            //编辑器宽度
            height: '500px;',
            //配置编辑器的工具栏
            items: [
                'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image',
                'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
                'anchor', 'link', 'unlink', '|', 'about'
            ]
        });
        prettyPrint();

        procEditor = K.create('#procDiv', {
            //上传管理
            uploadJson: '/Admin/Common/EditorFileUpload',
            //文件管理
            fileManagerJson: '/Areas/Common/EditorFileUpload',
            allowFileManager: true,
            //上传文件后执行的回调函数,获取上传图片的路径
            afterUpload: function (url) {
            },
            //编辑器高度
            width: '850px',
            //编辑器宽度
            height: '500px;',
            //配置编辑器的工具栏
            items: [
                'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image',
                'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
                'anchor', 'link', 'unlink', '|', 'about'
            ]
        });
        prettyPrint();
    });
</script>
<!-- /KindEditor -->

<script>
    var commitFlag = true;
    function submitIt(type) {
        // 判空
        if (!checkNull(type)) {
            commitFlag = true;
            return;
        }
        commitFlag = false;

        var baseInfo = {};
        if (type === 'contract') {
            baseInfo = {
                id: $('#id').val(),
                address: $('#address').val(),
                telphone: $('#telphone').val(),
                fax: $('#fax').val(),
                site: $('#site').val(),
                email: $('#email').val(),
                map: mapEditor.html()
            }
        }
        if (type === 'introduce') {
            baseInfo.id = $('#id').val();
            baseInfo.introduce = introEditor.html();
        }
        if (type === 'chapter') {
            baseInfo.id = $('#id').val();
            baseInfo.chapter = chapterEditor.html();
        }
        if (type === 'organize') {
            baseInfo.id = $('#id').val();
            baseInfo.organize = orgEditor.html();
        }
        if (type === 'notice') {
            baseInfo.id = $('#id').val();
            baseInfo.notice = noticeEditor.html();
        }
        if (type === 'process') {
            baseInfo.id = $('#id').val();
            baseInfo.process = procEditor.html();
        }

        var data = JSON.stringify({ type: type, infoModel: baseInfo });
        // 封装数据
        var ajax = {
            url: '/Admin/Home/SaveBasicInfo',
            data: data,
            type: 'Post',
            dataType: 'json',
            cache: false,
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                if (resp.status) {
                    alert(resp.message);
                    window.location.href = '/Admin/Home/BasicInfo';
                } else {
                    alert(resp.message);
                    commitFlag = true;
                }
            },
            error: function (data, textStatus) {
                alert('系统故障，请联系管理员！');
                commitFlag = true;
            }
        }
        $.ajax(ajax);
    }

    function checkNull(type) {
        var ok = true;
        if (type === 'contract') {
            if ($('#address').val() === '' || $('#telphone').val() === '' || $('#fax').val() === '' || $('#site').val() === '' ||
                    $('#email').val() === '' || mapEditor.html() === '') {
                ok = false;
            }
        }
        if (type === 'introduce' && introEditor.html() === '') { ok = false; }
        if (type === 'chapter' && chapterEditor.html() === '') { ok = false; }
        if (type === 'organize' && orgEditor.html() === '') { ok = false; }
        if (type === 'notice' && noticeEditor.html() === '') { ok = false; }
        if (type === 'process' && procEditor.html() === '') { ok = false; }
        !ok && alert('请填写完整表单！');
        return ok;
    }

</script>

<!--3. Main-->
<div id="dcMain">
    <!-- 当前位置 -->
    <div id="urHere">
        DouPHP 管理中心<b>></b><strong>系统设置</strong>
    </div>

    <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3>关于联盟</h3>
        <div class="idTabs">
            <ul class="tab">
                <li><a href="#contract">联系我们</a></li>
                <li><a href="#introduce">联盟介绍</a></li>
                <li><a href="#chapter">联盟章程</a></li>
                <li><a href="#organize">联盟组织</a></li>
                <li><a href="#notice">入盟须知</a></li>
                <li><a href="#process">申请流程</a></li>
            </ul>
            <div class="items">
                <form enctype="multipart/form-data">
                    <div id="contract">
                        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                            <tr>
                                <th width="131">名称</th>
                                <th>内容</th>
                            </tr>
                            <tr>
                                <td align="right">地址</td>
                                <td>
                                    <input type="text" id="address" value="@(baseInfo.Address ?? "")" size="80" class="inpMain" placeholder="请输入联盟地址" />
                                    <font class="prompt" color="red">*</font>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">电话</td>
                                <td>
                                    <input type="text" id="telphone" value="@(baseInfo.Telphone ?? "")" size="80" class="inpMain" placeholder="请输入联盟联系电话" />
                                    <font class="prompt" color="red">*</font>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">传真</td>
                                <td>
                                    <input type="text" id="fax" value="@(baseInfo.Fax ?? "")" size="80" class="inpMain" placeholder="请输入联盟传真电话" />
                                    <font class="prompt" color="red">*</font>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">网站</td>
                                <td>
                                    <input type="text" id="site" value="@(baseInfo.Site ?? "")" size="80" class="inpMain" placeholder="请输入联盟官网地址" />
                                    <font class="prompt" color="red">*</font>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">邮箱</td>
                                <td>
                                    <input type="text" id="email" value="@(baseInfo.Email ?? "")" size="80" class="inpMain" placeholder="请输入联盟邮箱" />
                                    <font class="prompt" color="red">*</font>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">标记地图</td>
                                <td>
                                    <textarea name="map" id="mapDiv" style="width: 600px; height: 250px;">@(baseInfo.Map ?? "")</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td width="131"></td>
                                <td>
                                    <input type="hidden" name="token" value="" />
                                    <input name="button" class="btn" type="button" value="提交" style="margin-left: 299px;" onclick="submitIt('contract')" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="introduce">
                        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                            <tr>
                                <th width="131">名称</th>
                                <th>内容</th>
                            </tr>
                            <tr>
                                <td align="right">联盟介绍</td>
                                <td>
                                    <textarea name="introduce" id="introDiv" style="width: 800px; height: 500px;">@(baseInfo.Introduce ?? "")</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td width="131"></td>
                                <td>
                                    <input type="hidden" name="token" value="" />
                                    <input name="submit" class="btn" type="submit" value="提交" style="margin-left: 400px;" onclick="return submitIt('introduce') && false;" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="chapter">
                        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                            <tr>
                                <th width="131">名称</th>
                                <th>内容</th>
                            </tr>
                            <tr>
                                <td align="right">联盟章程</td>
                                <td>
                                    <textarea name="chapter" id="chapterDiv" style="width: 800px; height: 500px;">@(baseInfo.Chapter ?? "")</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td width="131"></td>
                                <td>
                                    <input type="hidden" name="token" value="" />
                                    <input name="submit" class="btn" type="submit" value="提交" style="margin-left: 400px;" onclick="return submitIt('chapter') && false;" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="organize">
                        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                            <tr>
                                <th width="131">名称</th>
                                <th>内容</th>
                            </tr>
                            <tr>
                                <td align="right">联盟组织</td>
                                <td>
                                    <textarea name="organize" id="orgDiv" style="width: 800px; height: 500px;">@(baseInfo.Organize ?? "")</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td width="131"></td>
                                <td>
                                    <input type="hidden" name="token" value="" />
                                    <input name="submit" class="btn" type="submit" value="提交" style="margin-left: 400px;" onclick="return submitIt('organize') && false;" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="notice">
                        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                            <tr>
                                <th width="131">名称</th>
                                <th>内容</th>
                            </tr>
                            <tr>
                                <td align="right">入盟须知</td>
                                <td>
                                    <textarea name="notice" id="noticeDiv" style="width: 800px; height: 500px;">@(baseInfo.Notice ?? "")</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td width="131"></td>
                                <td>
                                    <input type="hidden" name="token" value="" />
                                    <input name="submit" class="btn" type="submit" value="提交" style="margin-left: 400px;" onclick="return submitIt('notice') && false;" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="process">
                        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                            <tr>
                                <th width="131">名称</th>
                                <th>内容</th>
                            </tr>
                            <tr>
                                <td align="right">申请流程</td>
                                <td>
                                    <textarea name="process" id="procDiv" style="width: 800px; height: 500px;">@(baseInfo.Process ?? "")</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td width="131"></td>
                                <td>
                                    <input type="hidden" name="token" value="" />
                                    <input name="submit" class="btn" type="submit" value="提交" style="margin-left: 400px;" onclick="return submitIt('process') && false;" />
                                </td>
                            </tr>
                        </table>
                    </div>

                    <input type="hidden" id="currTab" name="currTab" value="@currTab" />
                    <input type="hidden" id="id" name="id" value="@baseInfo.Id" />
                </form>
            </div>
        </div>
    </div>
</div>

