@using LM.Model.Model
@using LM.Utility
@using LM.WebUI.Areas.Admin.Models
@{
    Layout = "~/Areas/Admin/Views/Shared/_Main.cshtml";
    ViewBag.Title = "List";

    var models = ViewBag.Briefs as List<BriefModel>;
    var pageInfo = (ViewBag.PageInfo as PageInfo) ?? new PageInfo();

    var index = 1;
}
@Html.RenderScript("/Areas/Admin/Content/js/laypage/laypage.js")
@Html.RenderScript("/Areas/Admin/content/js/jquery.uploadify-v2.1.0/swfobject.js")
@Html.RenderScript("/Areas/Admin/content/js/jquery.uploadify-v2.1.0/jquery.uploadify.v2.1.0.min.js")

<script>
    $(function () {
        // 简报上传
        $("#briefUploadify").uploadify({
            uploader: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/uploadify.swf',
            buttonText: 'Upload',
            cancelImg: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/cancel.png',
            script: '/Admin/Common/BriefUpload',
            queueID: 'fileQueue1',
            auto: true,
            multi: false,
            onComplete: function (even, queueId, fileObj, response, data) {
                var rs = JSON.parse(response);
                if (rs.Status) {
                    $('#filePath').val(rs.FilePath);
                    alert('上传成功！');
                } else {
                    alert(rs.Message);
                }
            },
            uploadifyCancel: function () {
            }
        });
        /* 分页使用异步 */
        laypage({
            cont: document.getElementById('pageDiv1'), //容器。值支持id名、原生dom对象，jquery对象,
            pages: '@pageInfo.PageCount', //总页数
            curr: '@pageInfo.PageIndex', // 当前页
            groups: 3, //连续显示分页数
            skin: '#0072C6',
            jump: function (e, first) {
                // 第一次的事件必须要判断
                if (!first) {
                    //window.location.href = '/Admin/Article/List?type=' + type + '&keys=' + keys + '&pindex=' + e.curr;
                    window.location.href = '/Admin/Home/BriefList?&pindex=' + e.curr;
                }
            }
        });
    });
</script>

<script>
    function sure() {
        var name = $('#fileName').val();
        var filePath = $('#filePath').val();
        if (filePath === '') {
            alert('请选择文件！');
            return;
        }
        if (name === '') {
            alert('请输入简报名称！');
            return;
        }

        window.location.href = '/Admin/Home/SaveBrief?name=' + name + "&filePath=" + filePath;
    }

    function delBrief(id) {
        if (!confirm('确定删除吗？'))
            return;
        window.location.href = '/Admin/Home/DeleteBrief?ids=' + id;
    }

    function batchDelete(form) {
        if (!confirm('确定删除吗？'))
            return;
        var ids = [];
        for (var i = 0; i < form.elements.length; i++) {
            var e = form.elements[i];
            if (e.name !== "chkall" && e.type !== "button" && e.disabled !== true && e.checked) {
                e.value != null && ids.push(Number(e.value));
            }
        }
        if (ids.length === 0) {
            alert('请勾选删除项！');
        } else {
            window.location.href = '/Admin/Home/DeleteBrief?ids=' + ids;
        }
    }

</script>

<div id="dcMain">
    <!-- 当前位置 -->
    <div id="urHere">
        后台管理中心<b>></b><strong>简报列表</strong>
    </div>

    <div class="mainBox" style="height: auto !important; height: 550px; min-height: 550px;">
        <h3>简报列表</h3>

        <div style="text-align: center">
            <input id="fileName" type="text" name="fileName" class="inpMain" size="50" value="" placeholder="输入简报名称" />
            <input id="filePath" type="text" name="filePath" class="inpMain" size="50" value="" placeholder="简报存储路径" />
            <div id="fileQueue1" style="display: none;"></div>
            <input id="briefUploadify" type="file" name="uploadify" />
            <input id="sure" type="button" class="btn" name="sure" value="确定" onclick="sure()" />
        </div><br /><br />

        <div id="list">
            <form name="action">
                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                    @if (models != null && models.Count > 0)
                    {
                        <tr>
                            <th width="22" align="center">
                                <input name='chkall' type='checkbox' id='chkall' onclick='selectcheckbox(this.form)' value='check'>
                            </th>
                            <th width="40" align="center">编号</th>
                            <th align="center">简报名称</th>
                            <th width="150" align="center">存储路径</th>
                            <th width="80" align="center">添加日期</th>
                            <th width="80" align="center">操作</th>
                        </tr>

                        foreach (var model in models)
                        {
                            <tr>
                                <td align="center">
                                    <input type="checkbox" name="checkbox" value="@(model.Id)" />
                                </td>
                                <td align="center">@((pageInfo.PageIndex - 1) * pageInfo.PageSize + index++)</td>
                                <td>
                                    @(model.Name)
                                </td>
                                <td align="center">
                                    @(model.FilePath)
                                </td>
                                <td align="center">
                                    @(model.SaveAt.ToString("yyyy-MM-dd HH:mm:ss"))
                                </td>
                                <td align="center">
                                    <a href="@(model.FilePath)">下载</a> | <a href="#" onclick="return delBrief('@(model.Id)') && false;">删除</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <th width="22" align="center">
                                <span style="text-align: center;">无数据！</span>
                            </th>
                        </tr>
                    }
                </table>

                <div class="action">
                    <button name="" class="btn" type="button" value="删除" onclick="return batchDelete(this.form) && false;">删除</button>
                    <!--分页-->
                    <div class="pageDiv" id="pageDiv1" style="float: right;"></div>
                </div>
            </form>
        </div>
        <div class="clear"></div>
    </div>
</div>

<script type="text/javascript">
    onload = function () {
        document.forms['action'].reset();
    }
</script>

















