@using LM.Model.Model
@using LM.Utility
@{
    Layout = "~/Areas/Admin/Views/Shared/_Main.cshtml";
    ViewBag.Title = "后台管理系统";
    var config = ViewBag.HomePageConfig as HomePageConfigModel;
}

@Html.RenderScript("/Areas/Admin/content/js/jquery.uploadify-v2.1.0/swfobject.js")
@Html.RenderScript("/Areas/Admin/content/js/jquery.uploadify-v2.1.0/jquery.uploadify.v2.1.0.min.js")

<script type="text/javascript">
    $(document).ready(function () {
        // Logo 上传
        $("#logoUploadify").uploadify({
            uploader: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/uploadify.swf',
            buttonText: 'Upload',
            cancelImg: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/cancel.png',
            script: '/Admin/Common/FileUpload',
            folder: 'upload/images',
            queueID: 'fileQueue1',
            auto: true,
            multi: false,
            onComplete: function (even, queueId, fileObj, response, data) {
                var rs = JSON.parse(response);
                if (rs.Status) {
                    $('#LogoSrc').val(rs.FilePath);
                    $('#msg1').text("");
                } else {
                    $('#msg1').text(rs.Message);
                }
                alert(rs.Message);
            },
            uploadifyCancel: function () {
            }
        });
        // Flash 上传
        $("#flashUploadify").uploadify({
            uploader: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/uploadify.swf',
            buttonText: 'Upload',
            cancelImg: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/cancel.png',
            script: '/Admin/Common/FileUpload',
            folder: 'upload/swf',
            queueID: 'fileQueue2',
            auto: true,
            multi: false,
            onComplete: function (even, queueId, fileObj, response, data) {
                var rs = JSON.parse(response);
                if (rs.Status) {
                    $('#FlashSrc').val(rs.FilePath);
                    $('#msg2').text("");
                } else {
                    $('#msg2').text(rs.Message);
                }
                alert(rs.Message);
            },
            uploadifyCancel: function () {
            }
        });
        // AD 上传
        $("#adUploadify").uploadify({
            uploader: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/uploadify.swf',
            buttonText: 'Upload',
            cancelImg: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/cancel.png',
            script: '/Admin/Common/FileUpload',
            folder: 'upload/images',
            queueID: 'fileQueue3',
            auto: true,
            multi: false,
            onComplete: function (even, queueId, fileObj, response, data) {
                var rs = JSON.parse(response);
                if (rs.Status) {
                    $('#AdSrc').val(rs.FilePath);
                    $('#msg3').text("");
                } else {
                    $('#msg3').text(rs.Message);
                }
                alert(rs.Message);
            },
            uploadifyCancel: function () {
            }
        });
        // Slogan 上传
        $("#sloganUploadify").uploadify({
            uploader: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/uploadify.swf',
            buttonText: 'Upload',
            cancelImg: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/cancel.png',
            script: '/Admin/Common/FileUpload',
            folder: 'upload/images',
            queueID: 'fileQueue4',
            auto: true,
            multi: false,
            onComplete: function (even, queueId, fileObj, response, data) {
                var rs = JSON.parse(response);
                if (rs.Status) {
                    $('#SloganSrc').val(rs.FilePath);
                    $('#msg4').text("");
                } else {
                    $('#msg4').text(rs.Message);
                }
                alert(rs.Message);
            },
            uploadifyCancel: function () {
            }
        });
        // Qr 上传
        $("#qrUploadify").uploadify({
            uploader: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/uploadify.swf',
            buttonText: 'Upload',
            cancelImg: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/cancel.png',
            script: '/Admin/Common/FileUpload',
            folder: 'upload/images',
            queueID: 'fileQueue5',
            auto: true,
            multi: false,
            onComplete: function (even, queueId, fileObj, response, data) {
                var rs = JSON.parse(response);
                if (rs.Status) {
                    $('#QrSrc').val(rs.FilePath);
                    $('#msg5').text("");
                } else {
                    $('#msg5').text(rs.Message);
                }
                alert(rs.Message);
            },
            uploadifyCancel: function () {
            }
        });
        // 推荐产品1 上传
        $("#product1Uploadify").uploadify({
            uploader: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/uploadify.swf',
            buttonText: 'Upload',
            cancelImg: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/cancel.png',
            script: '/Admin/Common/FileUpload',
            folder: 'upload/images',
            queueID: 'fileQueue6',
            auto: true,
            multi: false,
            onComplete: function (even, queueId, fileObj, response, data) {
                var rs = JSON.parse(response);
                if (rs.Status) {
                    $('#Product1Src').val(rs.FilePath);
                    $('#msg6').text("");
                } else {
                    $('#msg6').text(rs.Message);
                }
                alert(rs.Message);
            },
            uploadifyCancel: function () {
            }
        });
        // 推荐产品2 上传
        $("#product2Uploadify").uploadify({
            uploader: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/uploadify.swf',
            buttonText: 'Upload',
            cancelImg: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/cancel.png',
            script: '/Admin/Common/FileUpload',
            folder: 'upload/images',
            queueID: 'fileQueue7',
            auto: true,
            multi: false,
            onComplete: function (even, queueId, fileObj, response, data) {
                var rs = JSON.parse(response);
                if (rs.Status) {
                    $('#Product2Src').val(rs.FilePath);
                    $('#msg7').text("");
                } else {
                    $('#msg7').text(rs.Message);
                }
                alert(rs.Message);
            },
            uploadifyCancel: function () {
            }
        });
        // 推荐产品3 上传
        $("#product3Uploadify").uploadify({
            uploader: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/uploadify.swf',
            buttonText: 'Upload',
            cancelImg: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/cancel.png',
            script: '/Admin/Common/FileUpload',
            folder: 'upload/images',
            queueID: 'fileQueue8',
            auto: true,
            multi: false,
            onComplete: function (even, queueId, fileObj, response, data) {
                var rs = JSON.parse(response);
                if (rs.Status) {
                    $('#Product3Src').val(rs.FilePath);
                    $('#msg8').text("");
                } else {
                    $('#msg8').text(rs.Message);
                }
                alert(rs.Message);
            },
            uploadifyCancel: function () {
            }
        });
        // 推荐产品4 上传
        $("#product4Uploadify").uploadify({
            uploader: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/uploadify.swf',
            buttonText: 'Upload',
            cancelImg: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/cancel.png',
            script: '/Admin/Common/FileUpload',
            folder: 'upload/images',
            queueID: 'fileQueue9',
            auto: true,
            multi: false,
            onComplete: function (even, queueId, fileObj, response, data) {
                var rs = JSON.parse(response);
                if (rs.Status) {
                    $('#Product4Src').val(rs.FilePath);
                    $('#msg9').text("");
                } else {
                    $('#msg9').text(rs.Message);
                }
                alert(rs.Message);
            },
            uploadifyCancel: function () {
            }
        });
        // Business 上传
        $("#businessUploadify").uploadify({
            uploader: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/uploadify.swf',
            buttonText: 'Upload',
            cancelImg: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/cancel.png',
            script: '/Admin/Common/FileUpload',
            folder: 'upload/images',
            queueID: 'fileQueue10',
            auto: true,
            multi: false,
            onComplete: function (even, queueId, fileObj, response, data) {
                var rs = JSON.parse(response);
                if (rs.Status) {
                    $('#BusinessSrc').val(rs.FilePath);
                    $('#msg10').text("");
                } else {
                    $('#msg10').text(rs.Message);
                }
                alert(rs.Message);
            },
            uploadifyCancel: function () {
            }
        });
    });
</script>

<script type="text/javascript">
    var commitFlg = true;

    function submit() {
        if (!commitFlg) {
            alert('请勿重复提交！');
            return;
        }
        // 判空
        if (!checkNull()) {
            commitFlg = true;
            return;
        }
        commitFlg = false;

        var config = {
            SiteName: $('#SiteName').val(),
            LogoSrc: $('#LogoSrc').val(),
            FlashSrc: $('#FlashSrc').val(),
            QrSrc: $('#QrSrc').val(),
            AdSrc: $('#AdSrc').val(),
            AdLink: $('#AdLink').val(),
            SloganSrc: $('#SloganSrc').val(),
            SloganLink: $('#SloganLink').val(),
            BusinessSrc: $('#BusinessSrc').val(),
            BusinessLink: $('#BusinessLink').val(),
            Product1Src: $('#Product1Src').val(),
            Product1Link: $('#Product1Link').val(),
            Product2Src: $('#Product2Src').val(),
            Product2Link: $('#Product2Link').val(),
            Product3Src: $('#Product3Src').val(),
            Product3Link: $('#Product3Link').val(),
            Product4Src: $('#Product4Src').val(),
            Product4Link: $('#Product4Link').val()
        }
        // 封装数据
        var ajax = {
            url: '/Admin/Home/HomeConfig',
            data: JSON.stringify(config),
            type: 'Post',
            dataType: 'json',
            cache: false,
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                alert(resp.message);
                commitFlg = true;
            },
            error: function () {
                alert('系统故障，请联系管理员！');
                commitFlg = true;
            }
        }
        $.ajax(ajax);
    }

    function preview() {
        // 判空
        if (!checkNull()) {
            return;
        }
        //
        var a = $('#SiteName').val();
        var b = $('#LogoSrc').val();
        var c = $('#FlashSrc').val();
        var d = $('#AdSrc').val();
        var e = $('#SloganSrc').val();;
        var f = $('#QrSrc').val();
        var g = $('#BusinessSrc').val();
        var h = $('#Product1Src').val();
        var i = $('#Product2Src').val();
        var j = $('#Product3Src').val();
        var k = $('#Product4Src').val();
        var href = '/Admin/Home/Preview?a=' + a + '&b=' + b + '&c=' + c + '&d=' + d + '&e=' + e + '&f=' + f + '&g=' + g + '&h=' + h + '&i=' + i + '&j=' + j + '&k=' + k;
        window.open(href);
    }

    function checkNull() {
        var ok = true;
        if ($('#SiteName').val() === '') {
            $('#msg0').text('* 请填写网站名称！');
            ok = false;
        }
        if ($('#LogoSrc').val() === '') {
            $('#msg1').text('* 请上传网站Logo图片！');
            ok = false;
        }
        if ($('#FlashSrc').val() === '') {
            $('#msg2').text('* 请上传Flash素材！');
            ok = false;
        }
        if ($('#AdSrc').val() === '') {
            $('#msg3').text('* 请上传广告位图片！');
            ok = false;
        }
        if ($('#SloganSrc').val() === '') {
            $('#msg4').text('* 请上传宣传语图片！');
            ok = false;
        }
        if ($('#QrSrc').val() === '') {
            $('#msg5').text('* 请上传二维码图片！');
            ok = false;
        }
        if ($('#BusinessSrc').val() === '') {
            $('#msg6').text('* 请招商广告位图片！');
            ok = false;
        }
        ok && clearMsgs();
        return ok;
    }

    function clearMsgs() {
        $('#msg0').text("");
        $('#msg1').text("");
        $('#msg2').text("");
        $('#msg3').text("");
        $('#msg4').text("");
        $('#msg5').text("");
        $('#msg6').text("");
    }
</script>


<!--3. Main-->
<div id="dcMain">
    <!-- 当前位置 -->
    <div id="urHere">
        后台管理中心<b>></b><strong>首页配置</strong>
    </div>

    <div class="mainBox" style="height: auto !important; height: 550px; min-height: 550px;">
        <h3>首页配置</h3>
        <div class="idTabs">
            <div class="items">
                <div id="main">
                    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                        <tr>
                            <th width="131">名称</th>
                            <th>内容</th>
                        </tr>
                        <tr>
                            <td align="right">网站名称</td>
                            <td>
                                <input id="SiteName" type="text" name="SiteName" placeholder="输入网站名称，如：中国电子化工新材料产业联盟" size="80" class="inpMain"
                                       value="@(string.IsNullOrEmpty(config.SiteName) ? "中国电子化工新材料产业联盟" : config.SiteName)" />
                                <span id="msg0" style="color: red; font-weight: bold;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">网站 Logo</td>
                            <td>
                                <input id="LogoSrc" type="text" name="LogoSrc" class="inpMain" size="60"
                                       value="@(string.IsNullOrEmpty(config.LogoSrc) ? "/favicon.ico" : config.LogoSrc)" />
                                <div id="fileQueue1" style="display: none;"></div>
                                <input id="logoUploadify" type="file" name="uploadify" />
                                <span>* logo 必须是 ico 格式的文件</span>&nbsp;&nbsp;
                                <span id="msg1" style="color: red; font-weight: bold;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">网站 Flash</td>
                            <td>
                                <input id="FlashSrc" type="text" name="FlashSrc" class="inpMain" size="60"
                                       value="@(string.IsNullOrEmpty(config.FlashSrc) ? "/Content/swf/flash.swf" : config.FlashSrc)" />
                                <div id="fileQueue2" style="display: none;"></div>
                                <input id="flashUploadify" type="file" name="uploadify" />
                                <span id="msg2" style="color: red; font-weight: bold;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">网站二维码</td>
                            <td>
                                <input id="QrSrc" type="text" name="QrSrc" class="inpMain" size="60"
                                       value="@(string.IsNullOrEmpty(config.QrSrc) ? "/Content/images/2118b59.jpg" : config.QrSrc)" />
                                <div id="fileQueue5" style="display: none;"></div>
                                <input id="qrUploadify" type="file" name="uploadify" />
                                <span id="msg5" style="color: red; font-weight: bold;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">广告位图片</td>
                            <td>
                                <input id="AdSrc" type="text" name="AdSrc" class="inpMain" size="60"
                                       value="@(string.IsNullOrEmpty(config.AdSrc) ? "/Content/images/guanggao.gif" : config.AdSrc)" />
                                <div id="fileQueue3" style="display: none;"></div>
                                <input id="adUploadify" type="file" name="uploadify" />
                                <span id="msg3" style="color: red; font-weight: bold;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">广告位图片链接地址</td>
                            <td>
                                <input id="AdLink" type="text" name="AdLink" class="inpMain" size="60" value="@(config.AdLink)" />
                            </td>
                        </tr>
                        <tr>
                            <td align="right">宣传语图片</td>
                            <td>
                                <input id="SloganSrc" type="text" name="SloganSrc" class="inpMain" size="60"
                                       value="@(string.IsNullOrEmpty(config.SloganSrc) ? "/Content/images/20160321143707.jpg" : config.SloganSrc)" />
                                <div id="fileQueue4" style="display: none;"></div>
                                <input id="sloganUploadify" type="file" name="uploadify" />
                                <span id="msg4" style="color: red; font-weight: bold;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">宣传语图片链接地址</td>
                            <td>
                                <input id="SloganLink" type="text" name="SloganLink" class="inpMain" size="60" value="@(config.SloganLink)" />
                            </td>
                        </tr>
                        <tr>
                            <td align="right">推荐产品1图片</td>
                            <td>
                                <input id="Product1Src" type="text" name="Product1Src" class="inpMain" size="60"
                                       value="@(string.IsNullOrEmpty(config.Product1Src) ? "/Content/images/zanwu.jpg" : config.Product1Src)" />
                                <div id="fileQueue6" style="display: none;"></div>
                                <input id="product1Uploadify" type="file" name="uploadify" />
                                <span id="msg6" style="color: red; font-weight: bold;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">推荐产品1图片链接地址</td>
                            <td>
                                <input id="Product1Link" type="text" name="Product1Link" class="inpMain" size="60" value="@(config.Product1Link)" />
                            </td>
                        </tr>
                        <tr>
                            <td align="right">推荐产品2图片</td>
                            <td>
                                <input id="Product2Src" type="text" name="Product2Src" class="inpMain" size="60"
                                       value="@(string.IsNullOrEmpty(config.Product2Src) ? "/Content/images/zanwu.jpg" : config.Product2Src)" />
                                <div id="fileQueue7" style="display: none;"></div>
                                <input id="product2Uploadify" type="file" name="uploadify" />
                                <span id="msg7" style="color: red; font-weight: bold;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">推荐产品2图片链接地址</td>
                            <td>
                                <input id="Product2Link" type="text" name="Product2Link" class="inpMain" size="60" value="@(config.Product2Link)" />
                            </td>
                        </tr>
                        <tr>
                            <td align="right">推荐产品3图片</td>
                            <td>
                                <input id="Product3Src" type="text" name="Product3Src" class="inpMain" size="60"
                                       value="@(string.IsNullOrEmpty(config.Product3Src) ? "/Content/images/zanwu.jpg" : config.Product3Src)" />
                                <div id="fileQueue8" style="display: none;"></div>
                                <input id="product3Uploadify" type="file" name="uploadify" />
                                <span id="msg8" style="color: red; font-weight: bold;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">推荐产品3图片链接地址</td>
                            <td>
                                <input id="Product3Link" type="text" name="Product3Link" class="inpMain" size="60" value="@(config.Product3Link)" />
                            </td>
                        </tr>
                        <tr>
                            <td align="right">推荐产品4图片</td>
                            <td>
                                <input id="Product4Src" type="text" name="Product4Src" class="inpMain" size="60"
                                       value="@(string.IsNullOrEmpty(config.Product4Src) ? "/Content/images/zanwu.jpg" : config.Product4Src)" />
                                <div id="fileQueue9" style="display: none;"></div>
                                <input id="product4Uploadify" type="file" name="uploadify" />
                                <span id="msg9" style="color: red; font-weight: bold;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">推荐产品4图片链接地址</td>
                            <td>
                                <input id="Product4Link" type="text" name="Product4Link" class="inpMain" size="60" value="@(config.Product4Link)" />
                            </td>
                        </tr>
                        <tr>
                            <td align="right">招商位图片</td>
                            <td>
                                <input id="BusinessSrc" type="text" name="BusinessSrc" class="inpMain" size="60"
                                       value="@(string.IsNullOrEmpty(config.BusinessSrc) ? "/Content/images/zhaoshang.png" : config.BusinessSrc)" />
                                <div id="fileQueue10" style="display: none;"></div>
                                <input id="businessUploadify" type="file" name="uploadify" />
                                <span id="msg10" style="color: red; font-weight: bold;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">招商位图片链接地址</td>
                            <td>
                                <input id="BusinessLink" type="text" name="BusinessLink" class="inpMain" size="60" value="@(config.BusinessLink)" />
                            </td>
                        </tr>
                    </table>
                </div>
                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                    <tr>
                        <td width="131"></td>
                        <td>
                            <input type="hidden" name="token" value="24760807" />
                            <input name="preview" class="btn" onclick="preview()" type="button" value="预览" />
                            <input name="submit" class="btn" onclick="submit()" type="button" value="提交" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

