@using LM.Model.Model
@using LM.Utility
@{
    Layout = "~/Areas/Admin/Views/Shared/_Main.cshtml";
    ViewBag.Title = "后台管理系统";
    var config = ViewBag.HomePageConfig as HomePageConfigModel;
}

@Html.RenderScript("/Areas/Admin/content/js/jquery.uploadify-v2.1.0/swfobject.js")
@Html.RenderScript("/Areas/Admin/content/js/jquery.uploadify-v2.1.0/jquery.uploadify.v2.1.0.min.js")

<script type="text/javascript">
        $(document).ready(function() {
            // Logo 上传
            $("#logoUploadify").uploadify({
                uploader: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/uploadify.swf',
                buttonText: 'Upload',
                cancelImg: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/cancel.png',
                script: '/Admin/Common/FileUpload',
                folder: 'upload/images',
                queueID: 'fileQueue1',
                auto: true,
                multi: false,
                onComplete: function(even, queueId, fileObj, response, data) {
                    var rs = JSON.parse(response);
                    if (rs.Status) {
                        $('#LogoSrc').val(rs.FilePath);
                        $('#msg1').text("");
                    } else {
                        $('#msg1').text(rs.Message);
                    }
                },
                uploadifyCancel: function() {
                }
            });
            // Flash 上传
            $("#flashUploadify").uploadify({
                uploader: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/uploadify.swf',
                buttonText: 'Upload',
                cancelImg: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/cancel.png',
                script: '/Admin/Common/FileUpload',
                folder: 'upload/swf',
                queueID: 'fileQueue2',
                auto: true,
                multi: false,
                onComplete: function(even, queueId, fileObj, response, data) {
                    var rs = JSON.parse(response);
                    if (rs.Status) {
                        $('#FlashSrc').val(rs.FilePath);
                        $('#msg2').text("");
                    } else {
                        $('#msg2').text(rs.Message);
                    }
                },
                uploadifyCancel: function() {
                }
            });
            // AD 上传
            $("#adUploadify").uploadify({
                uploader: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/uploadify.swf',
                buttonText: 'Upload',
                cancelImg: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/cancel.png',
                script: '/Admin/Common/FileUpload',
                folder: 'upload/images',
                queueID: 'fileQueue3',
                auto: true,
                multi: false,
                onComplete: function(even, queueId, fileObj, response, data) {
                    var rs = JSON.parse(response);
                    if (rs.Status) {
                        $('#AdSrc').val(rs.FilePath);
                        $('#msg3').text("");
                    } else {
                        $('#msg3').text(rs.Message);
                    }
                },
                uploadifyCancel: function() {
                }
            });
            // Slogan 上传
            $("#sloganUploadify").uploadify({
                uploader: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/uploadify.swf',
                buttonText: 'Upload',
                cancelImg: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/cancel.png',
                script: '/Admin/Common/FileUpload',
                folder: 'upload/images',
                queueID: 'fileQueue4',
                auto: true,
                multi: false,
                onComplete: function(even, queueId, fileObj, response, data) {
                    var rs = JSON.parse(response);
                    if (rs.Status) {
                        $('#SloganSrc').val(rs.FilePath);
                        $('#msg4').text("");
                    } else {
                        $('#msg4').text(rs.Message);
                    }
                },
                uploadifyCancel: function() {
                }
            });
            // Qr 上传
            $("#qrUploadify").uploadify({
                uploader: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/uploadify.swf',
                buttonText: 'Upload',
                cancelImg: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/cancel.png',
                script: '/Admin/Common/FileUpload',
                folder: 'upload/images',
                queueID: 'fileQueue5',
                auto: true,
                multi: false,
                onComplete: function(even, queueId, fileObj, response, data) {
                    var rs = JSON.parse(response);
                    if (rs.Status) {
                        $('#QrSrc').val(rs.FilePath);
                        $('#msg5').text("");
                    } else {
                        $('#msg5').text(rs.Message);
                    }
                },
                uploadifyCancel: function() {
                }
            });
            // Business 上传
            $("#businessUploadify").uploadify({
                uploader: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/uploadify.swf',
                buttonText: 'Upload',
                cancelImg: '/Areas/Admin/content/js/jquery.uploadify-v2.1.0/cancel.png',
                script: '/Admin/Common/FileUpload',
                folder: 'upload/images',
                queueID: 'fileQueue6',
                auto: true,
                multi: false,
                onComplete: function(even, queueId, fileObj, response, data) {
                    var rs = JSON.parse(response);
                    if (rs.Status) {
                        $('#BusinessSrc').val(rs.FilePath);
                        $('#msg6').text("");
                    } else {
                        $('#msg6').text(rs.Message);
                    }
                },
                uploadifyCancel: function() {
                }
            });
        });
</script>

<script type="text/javascript">
    var commitFlg = true;

    function submit() {
        if (!commitFlg) {
            alert('请勿重复提交！');
            return;
        }
        // 判空
        if (!checkNull()) {
            commitFlg = true;
            return;
        }
        commitFlg = false;

        var config = {
            SiteName: $('#SiteName').val(),
            LogoSrc: $('#LogoSrc').val(),
            FlashSrc: $('#FlashSrc').val(),
            AdSrc: $('#AdSrc').val(),
            SloganSrc: $('#SloganSrc').val(),
            QrSrc: $('#QrSrc').val(),
            BusinessSrc: $('#BusinessSrc').val()
        }
        // 封装数据
        var ajax = {
            url: '/Admin/Home/HomeConfig',
            data: JSON.stringify(config),
            type: 'Post',
            dataType: 'json',
            cache: false,
            contentType: "application/json; charset=utf-8",
            success: function(resp) {
                alert(resp.msg);
                commitFlg = true;
            },
            error: function() {
                alert('系统故障，请联系管理员！');
                commitFlg = true;
            }
        }
        $.ajax(ajax);
    }

    function preview() {
        // 判空
        if (!checkNull()) {
            return;
        }
        //
        var a = $('#SiteName').val();
        var b = $('#LogoSrc').val();
        var c = $('#FlashSrc').val();
        var d = $('#AdSrc').val();
        var e = $('#SloganSrc').val();;
        var f = $('#QrSrc').val();
        var g = $('#BusinessSrc').val();
        var href = '/Admin/Home/Preview?a=' + a + '&b=' + b + '&c=' + c + '&d=' + d + '&e=' + e + '&f=' + f + '&g=' + g;
        window.open(href);
    }

    function checkNull() {
        var ok = true;
        if ($('#SiteName').val() === '') {
            $('#msg0').text('* 请填写网站名称！');
            ok = false;
        }
        if ($('#LogoSrc').val() === '') {
            $('#msg1').text('* 请上传网站Logo图片！');
            ok = false;
        }
        if ($('#FlashSrc').val() === '') {
            $('#msg2').text('* 请上传Flash素材！');
            ok = false;
        }
        if ($('#AdSrc').val() === '') {
            $('#msg3').text('* 请上传广告位图片！');
            ok = false;
        }
        if ($('#SloganSrc').val() === '') {
            $('#msg4').text('* 请上传宣传语图片！');
            ok = false;
        }
        if ($('#QrSrc').val() === '') {
            $('#msg5').text('* 请上传二维码图片！');
            ok = false;
        }
        if ($('#BusinessSrc').val() === '') {
            $('#msg6').text('* 请招商广告位图片！');
            ok = false;
        }
        ok && clearMsgs();
        return ok;
    }

    function clearMsgs() {
        $('#msg0').text();
        $('#msg1').text();
        $('#msg2').text();
        $('#msg3').text();
        $('#msg4').text();
        $('#msg5').text();
        $('#msg6').text();
    }
</script>


<!--3. Main-->
<div id="dcMain">
    <!-- 当前位置 -->
    <div id="urHere">
        后台管理中心<b>></b><strong>首页配置</strong>
    </div>

    <div class="mainBox" style="height: auto !important; height: 550px; min-height: 550px;">
        <h3>首页配置</h3>
        <div class="idTabs">
            <div class="items">
                <div id="main">
                    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                        <tr>
                            <th width="131">名称</th>
                            <th>内容</th>
                        </tr>
                        <tr>
                            <td align="right">网站名称</td>
                            <td>
                                <input id="SiteName" type="text" name="SiteName" placeholder="输入网站名称，如：中国电子化工新材料产业联盟" size="80" class="inpMain"
                                       value="@(string.IsNullOrEmpty(config.SiteName) ? "中国电子化工新材料产业联盟" : config.SiteName)" />
                                <span id="msg0" style="color: red; font-weight: bold;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">网站 Logo</td>
                            <td>
                                <input id="LogoSrc" type="text" name="LogoSrc" class="inpMain" size="60"
                                       value="@(string.IsNullOrEmpty(config.LogoSrc) ? "/favicon.ico" : config.LogoSrc)" />
                                <div id="fileQueue1" style="display: none;"></div>
                                <input id="logoUploadify" type="file" name="uploadify" />
                                <span>* logo 必须是 ico 格式的文件</span>&nbsp;&nbsp;
                                <span id="msg1" style="color: red; font-weight: bold;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">网站 Flash</td>
                            <td>
                                <input id="FlashSrc" type="text" name="FlashSrc" class="inpMain" size="60"
                                       value="@(string.IsNullOrEmpty(config.FlashSrc) ? "/Content/swf/movie2.swf" : config.FlashSrc)" />
                                <div id="fileQueue2" style="display: none;"></div>
                                <input id="flashUploadify" type="file" name="uploadify" />
                                <span id="msg2" style="color: red; font-weight: bold;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">广告位图片</td>
                            <td>
                                <input id="AdSrc" type="text" name="AdSrc" class="inpMain" size="60"
                                       value="@(string.IsNullOrEmpty(config.AdSrc) ? "/Content/images/guanggao.gif" : config.AdSrc)" />
                                <div id="fileQueue3" style="display: none;"></div>
                                <input id="adUploadify" type="file" name="uploadify" />
                                <span id="msg3" style="color: red; font-weight: bold;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">宣传语图片</td>
                            <td>
                                <input id="SloganSrc" type="text" name="SloganSrc" class="inpMain" size="60"
                                       value="@(string.IsNullOrEmpty(config.SloganSrc) ? "/Content/images/20160321143707.jpg" : config.SloganSrc)" />
                                <div id="fileQueue4" style="display: none;"></div>
                                <input id="sloganUploadify" type="file" name="uploadify" />
                                <span id="msg4" style="color: red; font-weight: bold;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">网站二维码</td>
                            <td>
                                <input id="QrSrc" type="text" name="QrSrc" class="inpMain" size="60"
                                       value="@(string.IsNullOrEmpty(config.QrSrc) ? "/Content/images/2118b59.jpg" : config.QrSrc)" />
                                <div id="fileQueue5" style="display: none;"></div>
                                <input id="qrUploadify" type="file" name="uploadify" />
                                <span id="msg5" style="color: red; font-weight: bold;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">招商位图片</td>
                            <td>
                                <input id="BusinessSrc" type="text" name="BusinessSrc" class="inpMain" size="60"
                                       value="@(string.IsNullOrEmpty(config.BusinessSrc) ? "/Content/images/zhaoshang.png" : config.BusinessSrc)" />
                                <div id="fileQueue6" style="display: none;"></div>
                                <input id="businessUploadify" type="file" name="uploadify" />
                                <span id="msg6" style="color: red; font-weight: bold;"></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                    <tr>
                        <td width="131"></td>
                        <td>
                            <input type="hidden" name="token" value="24760807" />
                            <input name="preview" class="btn" onclick="preview()" type="button" value="预览" />
                            <input name="submit" class="btn" onclick="submit()" type="button" value="提交" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

