@using LM.Model.Model
@using LM.Utility
@using LM.WebUI.Areas.Admin.Models
@{
    Layout = "~/Areas/Admin/Views/Shared/_Main.cshtml";
    ViewBag.Title = "List";

    var models = ViewBag.OperationLogs as List<OperationLogModel>;
    var pageInfo = (ViewBag.PageInfo as PageInfo) ?? new PageInfo();

    var index = 1;
}
@Html.RenderScript("/Areas/Admin/Content/js/laypage/laypage.js")

<script>
    $(function () {
        /* 分页使用异步 */
        laypage({
            cont: document.getElementById('pageDiv1'), //容器。值支持id名、原生dom对象，jquery对象,
            pages: '@pageInfo.PageCount', //总页数
            curr: '@pageInfo.PageIndex', // 当前页
            groups: 6, //连续显示分页数
            skin: '#0072C6',
            jump: function (e, first) {
                // 第一次的事件必须要判断
                if (!first) {
                    window.location.href = '/Admin/Home/OpLogList?&pindex=' + e.curr;
                }
            }
        });
    });
</script>


<div id="dcMain">
    <!-- 当前位置 -->
    <div id="urHere">
        后台管理中心<b>></b><strong>操作记录</strong>
    </div>

    <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3>操作记录</h3>
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
            @if (models != null && models.Count > 0)
            {
                <tr>
                    <th width="30" align="center">编号</th>
                    <th width="150" align="left">操作时间</th>
                    <th width="100" align="center">操作者</th>
                    <th align="left">操作记录</th>
                    <th width="100" align="center">IP地址</th>
                </tr>
                foreach (var model in models)
                {
                    <tr>
                        <td align="center">@((pageInfo.PageIndex - 1)*pageInfo.PageSize + index++)</td>
                        <td>@(model.SaveAt.ToString("yyyy-MM-dd HH:mm:ss"))</td>
                        <td align="center">@(model.User)</td>
                        <td align="left">@(model.Operation)</td>
                        <td align="center">@(model.Ip)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <th width="22" align="center">
                        <span style="text-align: center;">无数据！</span>
                    </th>
                </tr>
            }
        </table>
        <div class="action">
            <!--分页-->
            <div class="pageDiv" id="pageDiv1" style="float: right;"></div>
        </div>
    </div>
</div>

