@using LM.Model.Model
@using LM.Utility
@{
    ViewBag.Title = "联盟成员";

    var list = ViewBag.Companies as List<CompanyModel>;
    var typeList = ViewBag.TypeList as List<CategoryModel>;
    //var pageInfo = (ViewBag.PageInfo as PageInfo) ?? new PageInfo();

    var index = 0;
    var slideArticles = ViewBag.SlideArticles as List<ArticleModel>;
    var dynamicArticles = ViewBag.DynamicArticles as List<ArticleModel>;
}

@Html.RenderCss("/Content/css2/关于联盟.css")

<script type="text/javascript">
    $(document).ready(function () {
        // 取隐藏域里面的图片路径
        var imglist = [], idlist = [];
        var count = '@slideArticles.Count';
        for (var i = 0; i < count; i++) {
            var src = $('#slideSrc' + i).val();
            imglist.push(src);
            var id = $('#slideId' + i).val();
            idlist.push(id);
        }
        slide(imglist, idlist);

    });
</script>

<div class="section" style="margin-bottom:20px;">
    <div class="section_left">
        <div class="top">
            <h3>联盟成员</h3>
            <h5 accesskey="">Alliance Members</h5>
        </div>

        <div class="slide">
            <!--幻灯片-->
            <style>
                .pic_list ul {
                    width: 100%;
                    margin-left: 24px;
                    margin-top: -15px;
                    position: relative;
                }

                .pic_list .li {
                    width: 20px;
                    height: 5px;
                    color: #ffffff;
                    background: #0872CA;
                    padding: 1px 6px;
                    float: left;
                    margin: 3px;
                    list-style: none;
                    cursor: pointer;
                }

                    .pic_list .li:hover {
                        background: #9fd5fc;
                        color: #0872ca;
                    }

                .pic_list .active {
                    background: #9fd5fc;
                    color: #0872ca;
                    /*font-weight: bold;*/
                }
            </style>

            <div id="aa" class="pic_list" style="width: 100%; height: 100%; float: left; border: 1px solid #ccc;">
                @foreach (var e in slideArticles)
                {
                <input type="hidden" id="slideSrc@(index)" value="@e.ImgSrc" />
                <input type="hidden" id="slideId@(index)" value="@e.Id" />
                    index++;
                }
                <a href="@(slideArticles.Count > 0 ? "/Article/Detail?id=" + slideArticles[0].Id : "")" target="_blank">
                    <img src="@(slideArticles.Count > 0 ? slideArticles[0].ImgSrc : "")" style="width: 100%; height: 100%;">
                </a>
                <ul id="aa_index">
                    @for (var i = 0; i < slideArticles.Count; i++)
                    {
                    <li class="li" cid="@(i+1)"></li>
                    }
                </ul>
            </div>
        </div>

        <div class="top">
            <h3>联盟动态</h3>
        </div>
        <ul class="news_left">
            @foreach (var a in dynamicArticles)
            {
            <li>
                <a href="/Article/Detail?id=@a.Id">@(a.Title)</a>
            </li>
            }
        </ul>
    </div>
    <div class="section_right">
        <div class="nav">
            当前位置：首页 > 联盟成员
        </div>
        <div class="nav_right">
            <span><img src="/Content/images2/home_轮播圆点蓝色.png" style="padding-right: 15px;">联盟成员</span>
        </div>
        <div class="mycontent">
            <div class="title">电子化工新材料产业联盟成员单位名单</div>

            @foreach (var type in typeList)
            {
                <div class="company_type">@(type.Name)：</div>
                
                var cindex = 1;
                var temp = list.Where(c => c.Range == type.Id);
                foreach (var cmp in temp)
                {
                    <div class="company_name @(cindex ++ == temp.Count() ? "last_name":"")">
                        <a href="/Company/Detail?id=@cmp.Id" target="_blank" title="@cmp.Name">
                            @cmp.Name
                        </a>
                    </div>
                }

            }

        </div>
    </div>
</div>
