@using LM.Model.Model
@using LM.Utility
@{
    ViewBag.Title = "首页";
    var index = 0;

    var oneNews = ViewBag.OneNews as ArticleModel;
    var oneFocus = ViewBag.OneFocus as ArticleModel;
    var slideArticles = ViewBag.SlideArticles as List<ArticleModel>;
    var briefs = ViewBag.Briefs as List<BriefModel>;
    var logos = ViewBag.Logos as List<CompanyModel>;
    var ads = ViewBag.Ads as List<AdModel>;
    var supCompanies = ViewBag.SupCompanies as List<CompanyModel>;
    var subCompanies = ViewBag.SubCompanies as List<CompanyModel>;
    var otherCompanies = ViewBag.OtherCompanies as List<CompanyModel>;
    var dynamicArticles = ViewBag.DynamicArticles as List<ArticleModel>;
    var industryArticles = ViewBag.IndustryArticles as List<ArticleModel>;
}

@Html.RenderCss("/Content/css/imgSlide.css")

@Html.RenderScript("/Content/js/jquery.kxbdmarquee.js")
@Html.RenderScript("/Content/js/listScroll.js")
@Html.RenderScript("/Content/js/imgSlide.js")
@Html.RenderScript("/Content/js/utility.js")

@section partialScriptCss{
    <script type="text/javascript">
        $(document).ready(function () {
            // 取隐藏域里面的图片路径
            var imglist = [], idlist = [];
            var count = '@slideArticles.Count';
            for (var i = 0; i < count; i++) {
                var src = $('#slideSrc' + i).val();
                imglist.push(src);
                var id = $('#slideId' + i).val();
                idlist.push(id);
            }
            slide(imglist, idlist);

            // Logo 自动滚动
            //MoveDiv(window.event);
            slide_init(); // 运行图片滚动函数
            $("#tabs").tabs();
        });
    </script>
}


<div class="section">
    <div class="center_top">
        <div class="item1">
            @*<img src="/Content/images2/home_defaultnews.jpg" width="100%" height="100%" />*@
            <!--幻灯片-->
            <style>
                .pic_list {
                    width: 286px;
                    height: 216px;
                    border: #FFF solid 1px;
                }

                #aa ul {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    position: relative;
                    left: 175px;
                    top: -35px;
                }

                .li {
                    color: #ffffff;
                    background: #0872CA;
                    padding: 1px 6px;
                    float: left;
                    margin: 3px;
                    border-radius: 10px;
                    list-style: none;
                    cursor: pointer;
                }

                    .li:hover {
                        background: #9fd5fc;
                        color: #0872ca;
                    }

                .active {
                    background: #9fd5fc;
                    color: #0872ca;
                    font-weight: bold;
                }
            </style>

            <div id="aa" class="pic_list" style="width: 320px; height: 270px; float: left; border: 1px solid #ccc;">
                @foreach (var e in slideArticles)
                {
                    <input type="hidden" id="slideSrc@(index)" value="@e.ImgSrc" />
                    <input type="hidden" id="slideId@(index)" value="@e.Id" />
                    index++;
                }
                <a href="@(slideArticles.Count > 0 ? "/Article/Detail?id=" + slideArticles[0].Id : "")" target="_blank">
                    <img src="@(slideArticles.Count > 0 ? slideArticles[0].ImgSrc : "")" style="width: 100%; height: 100%;" onclick="" />
                </a>
                <ul id="aa_index">
                    @for (var i = 0; i < slideArticles.Count; i++)
                    {
                        <li class="li">@(i + 1)</li>
                    }
                </ul>
            </div>
        </div>
        <div class="item2">
            <ul class="tab_ul">
                <li id="tabs_1" class="tab_ul_li hit" onmouseover="toggleTabs(this,'over')">联盟要闻</li>
                <li id="tabs_2" class="tab_ul_li" onmouseover="toggleTabs(this,'over')">特别关注</li>
                <li class="li_more"><a class="more" onclick="showMoreArticle('ywgz')">更多>></a></li>
            </ul>
            <div id="tabs_1_content" class="tabs show">
                @if (oneNews != null && !string.IsNullOrEmpty(oneNews.Title))
                {
                    <p class="p_title" title="@oneNews.Title">
                        @(oneNews.Title.Length > 22 ? oneNews.Title.Substring(0, 19) + "..." : oneNews.Title)
                    </p>
                    <p class="p_brief">
                        @(!string.IsNullOrEmpty(oneNews.Brief) && oneNews.Brief.Length > 100 ? oneNews.Brief.Substring(0, 97) + "..." : oneNews.Brief)
                        <span style="color: #505050; cursor: pointer;">
                            <a href="/Article/Detail?id=@oneNews.Id" target="_blank">[详情]</a>
                        </span>
                    </p>
                }
            </div>
            <div id="tabs_2_content" class="tabs">
                @if (oneFocus != null && !string.IsNullOrEmpty(oneFocus.Title))
                {
                    <p class="p_title" title="@oneFocus.Title">
                        @(oneFocus.Title.Length > 22 ? oneFocus.Title.Substring(0, 19) + "..." : oneFocus.Title)
                    </p>
                    <p class="p_brief">
                        @(!string.IsNullOrEmpty(oneFocus.Brief) && oneFocus.Brief.Length > 100 ? oneFocus.Brief.Substring(0, 97) + "..." : oneFocus.Brief)
                        <span style="color: #505050; cursor: pointer;">
                            <a href="/Article/Detail?id=@oneFocus.Id" target="_blank">[详情]</a>
                        </span>
                    </p>
                }
            </div>
        </div>
        <div class="item3">
            <div style="height: 120px; width: 120px; margin: 0 auto;margin-top: -5px;">
                <img src="/Content/images2/home_qr.jpg" width="100%" height="100%" />
            </div>
            <ul class="tab_ul">
                <li class="tab_ul_li hit">联盟简报</li>
            </ul>
            @if (briefs.Count > 0)
            {
                foreach (var item in briefs)
                {
                    <p class="jianbao" title="@(item.Name)">
                        <img src="/Content/images2/home_dot.png" />
                        <a href="@item.FilePath" target="_blank">@(item.Name)</a>
                    </p>
                }
            }

        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="center_news">
        <div id="item1">
            <div class="new1">
                <div class="left newleft">联盟动态</div>
                <a class="more lmdt" href="#" onclick="showMoreArticle('lmdt')">更多>></a>
            </div>
            <div>
                <ul style="list-style: none;">
                    @if (dynamicArticles.Count > 0)
                    {
                        var i = 1;
                        foreach (var c in dynamicArticles)
                        {
                            if (i++ == 1)
                            {
                                <li class="newTitle" title="@c.Title">
                                    <a href="/Article/Detail?id=@c.Id" target="_blank">@(c.Title.Length > 24 ? c.Title.Substring(0, 21) + "..." : c.Title)</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <div class="new2" title="@c.Title">
                                        <img src="/Content/images2/home_dot.png" />
                                        <a href="/Article/Detail?id=@c.Id" target="_blank">@(c.Title.Length > 18 ? c.Title.Substring(0, 18) + "..." : c.Title)</a>
                                    </div>
                                    <div class="news">[@c.SaveAt.ToString("yyyy-MM-dd")]</div>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
        <div id="item2">
            <div class="new1">
                <div class="left newleft">行业新闻</div>
                <a class="more hyxw" href="#" onclick="showMoreArticle('hyxw')">更多>></a>
            </div>
            <div>
                <ul style="list-style: none;">
                    @if (industryArticles.Count > 0)
                    {
                        var i = 1;
                        foreach (var c in industryArticles)
                        {
                            if (i++ == 1)
                            {
                                <li class="newTitle" title="@c.Title">
                                    <a href="/Article/Detail?id=@c.Id" target="_blank">@(c.Title.Length > 24 ? c.Title.Substring(0, 21) + "..." : c.Title)</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <div class="new2" title="@c.Title">
                                        <img src="/Content/images2/home_dot.png" />
                                        <a href="/Article/Detail?id=@c.Id" target="_blank">@(c.Title.Length > 18 ? c.Title.Substring(0, 18) + "..." : c.Title)</a>
                                    </div>
                                    <div class="news">[@c.SaveAt.ToString("yyyy-MM-dd")]</div>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="center_product">
        <div class="top">
            <div class="productleft">产品推荐</div>
        </div>
        <div>
            <div class="imgSlide">
                <a class="LeftBotton" style="background: url(/Content/images2/home_btnLeft.png) no-repeat;" onmousedown="ISL_GoDown_1()" onmouseup="ISL_StopDown_1()" onmouseout="ISL_StopDown_1()"
                   href="javascript:void(0);" target="_self"></a>
                <div class="pcont" id="ISL_Cont_1">
                    <div class="ScrCont">
                        <div id="List1_1" class="imgpane">
                            @foreach (var ad in ads)
                            {
                                <a class="pl" href="@(ad.LinkUrl)" title="@(ad.Name)" target="_blank">
                                    <img src="@(ad.ImgSrc)" />
                                </a>
                            }
                            @*<a class="pl" href="#" title="aaa"><img src="/Content/images2/home_cptj_01.jpg" alt="模板王"/></a>*@
                            <!-- piclist end -->
                        </div>
                        <div id="List2_1" class="imgpane"></div>
                    </div>
                </div>
                <a class="RightBotton" style="background: url(/Content/images2/home_btnRight.png) no-repeat;" onmousedown="ISL_GoUp_1()" onmouseup="ISL_StopUp_1()" onmouseout="ISL_StopUp_1()"
                   href="javascript:void(0);" target="_self"></a>
            </div>
        </div>
    </div>
    <div class="center_news">
        <div id="item3">
            <div class="itemtopleft">
                联盟材料领域企业
            </div>
            <div class="itemright">
                <a class="more qy" href="#" onclick="showMoreCompany('clly')">更多>></a>
            </div>
            <div class="clear"></div>
            <div class="center1">
                <ul>
                    @if (subCompanies.Count > 0)
                    {
                        var i = 1;
                        foreach (var c in subCompanies.TakeWhile(c => i++ <= 8))
                        {
                            <li class="centerli" title="@c.Name">
                                <a href="/Company/Detail?id=@c.Id" target="_blank">@(c.Name.Length > 20 ? c.Name.Substring(0, 17) + "..." : c.Name)</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div id="item4">
            <div class="itemtopleft">
                联盟应用领域企业
            </div>
            <div class="itemright">
                <a class="more qy" href="#" onclick="showMoreCompany('yyly')">更多>></a>
            </div>
            <div class="clear"></div>
            <div class="center2">
                <ul>
                    @if (supCompanies.Count > 0)
                    {
                        var i = 1;
                        foreach (var c in supCompanies.TakeWhile(c => i++ <= 8))
                        {
                            <li class="centerli" title="@c.Name">
                                <a href="/Company/Detail?id=@c.Id" target="_blank">@(c.Name.Length > 20 ? c.Name.Substring(0, 17) + "..." : c.Name)</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div id="item5">
            <div class="itemtopleft">
                联盟科研协会理事单位
            </div>
            <div class="itemright">
                <a class="more qy" href="#" onclick="showMoreCompany('kyxh')">更多>></a>
            </div>
            <div class="clear"></div>
            <div class="center3">
                <ul>
                    @if (otherCompanies.Count > 0)
                    {
                        var i = 1;
                        foreach (var c in otherCompanies.TakeWhile(c => i++ <= 8))
                        {
                            <li class="centerli" title="@c.Name">
                                <a href="/Company/Detail?id=@c.Id" target="_blank">@(c.Name.Length > 20 ? c.Name.Substring(0, 17) + "..." : c.Name)</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="center_hz">
        <div class="top">
            <div class="productleft">联盟理事单位</div>
        </div>
        <div class="panes">
            @foreach (var e in logos)
            {

                <div class="pane_goods">
                    <a href="@e.Site" target="_blank" title="@e.Name">
                        <img src="@e.LogoSrc">
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="clear"></div>
    <div class="center_link">
        <div class="center_company">
            <div class="top">
                <div class="companyleft">友情链接</div>
            </div>
            <div class="link_title">
                <table>
                    <tr>
                        <td style="width: 140px;">
                            <div class="title_li1 title">政府部门</div>
                        </td>
                        <td>
                            <div class="title_li2"><a href="http://www.miit.gov.cn" target="_blank">中华人民共和国工业和信息化部</a></div>
                            <div class="title_li2" style="margin-left: 40px;"><a href="http://www.most.gov.cn" target="_blank">中华人民共和国科学技术部</a></div>
                            <div class="title_li2" style="margin-left: 51px;"><a href="http://www.sdpc.gov.cn" target="_blank">国家发展和改革委员会</a></div><br />
                            <div class="title_li2" style="margin-left: 0px;"><a href="http://www.customs.gov.cn" target="_blank">中华人民共和国海关总署</a></div>
                            <div class="title_li2" style="margin-left: 85px;"><a href="http://www.mofcom.gov.cn" target="_blank">中华人民共和国商务部</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="title_li1 title">其他站点</div>
                        </td>
                        <td>
                            <div class="title_li2"><a href="http://www.cemia.org.cn" target="_blank">中国电子材料行业协会</a></div>
                            <div class="title_li2" style="margin-left: 99px;"><a href="http://www.cpcia.org.cn" target="_blank">中国石油和化学工业联合会</a></div>
                            <div class="title_li2" style="margin-left: 50px"><a href="http://www.sif.org.cn" target="_blank">中国氟硅有机材料工业协会</a></div>
                            <div class="title_li2" style="margin-left: 50px;"><a href="http://www.ic-ceca.org.cn" target="_blank">中国电子元件行业协会</a></div>
                            <div class="title_li2" style="margin-left: 0px;"><a href="http://www.csra.org.cn" target="_blank">中国合成树脂协会</a></div>
                            <div class="title_li2" style="margin-left: 129px;"><a href="http://www.semi.org.cn" target="_blank">国际半导体设备与材料协会</a></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
