@using LM.Model.Common
@using LM.Model.Model
@using LM.Service.Security
@using LM.Utility
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "首页";
    var index = 0;

    var config = CurrentContext.Get("HomePageConfig") as HomePageConfigModel ?? new HomePageConfigModel();
    var oneNews = ViewBag.OneNews as ArticleModel;
    var oneFocus = ViewBag.OneFocus as ArticleModel;
    var slideArticles = ViewBag.SlideArticles as List<ArticleModel>;
    var briefs = ViewBag.Briefs as List<BriefModel>;
    var logos = ViewBag.Logos as List<CompanyModel>;
    var supCompanies = ViewBag.SupCompanies as List<CompanyModel>;
    var subCompanies = ViewBag.SubCompanies as List<CompanyModel>;
    var otherCompanies = ViewBag.OtherCompanies as List<CompanyModel>;
    var dynamicArticles = ViewBag.DynamicArticles as List<ArticleModel>;
    var industryArticles = ViewBag.IndustryArticles as List<ArticleModel>;
}

@section partialScriptCss{
    <script type="text/javascript">
        // 幻灯片
        // 首页加载后执行
        $(document).ready(function () {
            // 取隐藏域里面的图片路径
            var imglist = [], idlist = [];
            var count = '@slideArticles.Count';
            for (var i = 0; i < count; i++) {
                var src = $('#slideSrc' + i).val();
                imglist.push(src);
                var id = $('#slideId' + i).val();
                idlist.push(id);
            }
            slide(imglist, idlist);

            // Logo 自动滚动
            MoveDiv(window.event);
        });
    </script>
}

<!--body1-->
<div style="width: 1004px; height: 260px; margin: 8px auto; margin-bottom: 2px;">
    <!--幻灯片-->
    <div id="aa" class="pic_list" style="width: 331px; float: left; border: 1px solid #ccc; height: 257px; margin-right: 6px;">
        <a href="@(slideArticles.Count > 0 ? "/Article/Detail?id=" + slideArticles[0].Id : "")" target="_blank">
            <img src="@(slideArticles.Count > 0 ? slideArticles[0].ImgSrc:"")" style="width: 100%; height: 100%;" onclick="" />
        </a>
        <style>
            #aa ul {
                width: 100%;
                margin: 0;
                padding: 0;
                position: relative;
                left: 175px;
                top: -35px;
            }

            .li {
                color: #ffffff;
                background: #003271;
                padding: 3px 7px;
                float: left;
                margin: 3px;
                border-radius: 10px;
                list-style: none;
                cursor: pointer;
            }

                .li:hover {
                    background: #9fd5fc;
                    color: #000000;
                }

            .active {
                background: #FF6911;
                color: #000000;
                font-weight: bold;
            }
        </style>
        <ul id="aa_index">
            @for (var i = 0; i < slideArticles.Count; i++)
            {
                <li class="li">@(i + 1)</li>
            }
        </ul>
    </div>

    <!--联盟要闻、特别关注-->
    <div style="width: 468px; float: left;">
        <div style="height: 127px; border: 1px solid #ccc; margin-bottom: 2px;">
            <div style="padding-top: 5px; height: 25px; background: url(/content/images/noselectbg.jpg) top repeat-x; border-bottom: 1px solid #ccc;">
                <p style="text-align: left; font-family: 'Microsoft YaHei'; font-weight: bold; color: #0DB0F3; font-size: 18px; line-height: 20px; padding-left: 5px; margin-top: 0px;">
                    联盟要闻
                    <a href="/Article/InfoList?type=联盟要闻" target="_blank" style="text-align: right; padding-left: 72%; font-weight: normal; font-size: 12px; font-family: '宋体'; color: #ADA7A7; cursor: pointer;">
                        更多<span style="font-size: 12px;">&gt;&gt;</span>
                    </a>
                </p>
            </div>
            @if (oneNews != null && !string.IsNullOrEmpty(oneNews.Title))
            {
                <p style="font-size: 16px; line-height: 30px; font-weight: bold; color: #666; text-align: center;" title="@oneNews.Title">
                    @(oneNews.Title.Length > 28 ? oneNews.Title.Substring(0, 25) + "..." : oneNews.Title)
                </p>
                <p style="height: 80px; overflow: hidden; padding-left: 15px; padding-right: 15px; text-indent: 20px; text-align: left; line-height: 20px;">
                    @(!string.IsNullOrEmpty(oneNews.Brief) && oneNews.Brief.Length > 100 ? oneNews.Brief.Substring(0, 97) + "..." : oneNews.Brief)
                    <span style="font-size: 12px; font-family: '宋体'; color: #ADA7A7; cursor: pointer;"><a href="/Article/Detail?id=@oneNews.Id" target="_blank">[详情]</a></span>
                </p>
            }
            else
            {
                @:暂无数据！
            }
        </div>
        <div style="height: 127px; border: 1px solid #ccc;">
            <div style="padding-top: 5px; height: 25px; background: url(/content/images/noselectbg.jpg) top repeat-x; border-bottom: 1px solid #ccc;">
                <p style="text-align: left; font-family: 'Microsoft YaHei'; font-weight: bold; color: #0DB0F3; font-size: 18px; line-height: 20px; padding-left: 5px; margin-top: 0px; ">
                    特别关注
                    <a href="/Article/InfoList?type=特别关注" target="_blank" style="text-align: right; padding-left: 72%; font-weight: normal; font-size: 12px; font-family: '宋体'; color: #ADA7A7; cursor: pointer;">
                        更多<span style="font-size: 12px;">&gt;&gt;</span>
                    </a>
                </p>
            </div>
            @if (oneFocus != null && !string.IsNullOrEmpty(oneFocus.Title))
            {
                <p style="font-size: 16px; line-height: 30px; font-weight: bold; color: #666; text-align: center;" title="@oneFocus.Title">
                    @(oneFocus.Title.Length > 28 ? oneFocus.Title.Substring(0, 25) + "..." : oneFocus.Title)
                </p>
                <p style="height: 80px; overflow: hidden; padding-left: 15px; padding-right: 15px; text-indent: 20px; text-align: left; line-height: 20px;">
                    @(!string.IsNullOrEmpty(oneFocus.Brief) && oneFocus.Brief.Length > 100 ? oneFocus.Brief.Substring(0, 97) + "..." : oneFocus.Brief)
                    <span style="font-size: 12px; font-family: '宋体'; color: #ADA7A7; cursor: pointer;"><a href="/Article/Detail?id=@oneFocus.Id" target="_blank">[详情]</a></span>
                </p>
            }
            else
            {
                @:暂无数据！
            }
        </div>
    </div>
    <!--二维码、简报-->
    <div style="float: left; width: 190px; padding-left: 6px; border: 1px;">
        <div style="height: 130px; padding: 3px 3px 0 3px; border: 1px solid #ccc; margin-bottom: 2px;">
            <p>
                <img style="width: 137px; height: 125px;" src="@(string.IsNullOrEmpty(config.QrSrc)?"/Content/images/2118b59.jpg":config.QrSrc)" />
            </p>
        </div>
        <div style="height: 121px; border: 1px solid #ccc;">
            <div style="padding-top: 5px; height: 25px; background: url(/Content/images/noselectbg.jpg) top repeat-x; border-bottom: 1px solid #ccc;">
                <p style="text-align: left; font-family: 'Microsoft YaHei'; font-weight: bold; color: #0DB0F3; font-size: 18px; line-height: 20px; padding-left: 5px; margin-top: 0px;">
                    联盟简报
                    <a href="/Article/BriefList" target="_blank" style="text-align: right; padding-left: 28%; font-weight: normal; font-size: 12px; font-family: '宋体'; color: #ADA7A7; cursor: pointer;">
                        更多<span style="font-size: 12px;">&gt;&gt;</span>
                    </a>
                </p>
            </div>
            <div style="height: 10px;">&nbsp;</div>
            @if (briefs.Count > 0)
            {
                foreach (var item in briefs)
                {
                    <p style="font-size: 12px; line-height: 24px; text-align: left; padding-left: 15px; background: url(/Content/images/dot.png) 5px 10px no-repeat;">
                        <a href="@item.FilePath">@(item.Name.Length > 13 ? item.Name.Substring(0, 10) + "..." : item.Name)</a>
                    </p>
                }
            }
            else
            {
                <span>暂无数据！</span>
            }
        </div>
    </div>
</div>

<!--口号栏-->
<div class="" style="padding-top:6px; width: 1004px;margin: 0 auto">
    <a href="@config.SloganLink" target="_blank">
        <img width="100%" src="@(string.IsNullOrEmpty(config.SloganSrc) ? "/Content/images/20160321143707.jpg" : config.SloganSrc)" />
    </a>
</div>

<!---------------------------------------------分界线---------------------------------------------------------->
<!--body2部分begin-->
<div style="width:1004px;margin:0 auto; padding-top:0px;">
    <!---联盟会员LOGO--->
    <div id="demo" style="OVERFLOW: hidden; WIDTH: 1004px; margin:10px auto; COLOR: #ffffff; HEIGHT: 60px; border-radius:10px; border:1px solid #f1f1f1;" onmousemove="MoveDiv(event);" onmouseout="MoveOutDiv();">
        <div id="demo1" style="width:100%;">
            <table cellspacing=0 cellpadding=0>
                <tbody>
                    <tr valign=top>
                        <td valign=top nowrap=noWrap>
                            <div align=right style="width:1004px;">
                                <div style="width: 120px; height: 60px;">
                                    @if (logos.Count > 0)
                                    {
                                        foreach (var e in logos)
                                        {
                                            <a href="@e.Site" target="_blank">
                                                <img width="100%" height="100%" src="@e.LogoSrc" title="@e.Name" />
                                            </a>
                                        }
                                    }
                                    else
                                    {
                                        @:暂无数据！
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <td width="0">
                <div id="demo2" style="width:100%;"></div>
            </td>
        </div>
    </div>

    <!--3组企业名称自下而上自动滚动-->
    <div class="floor1" style="width:1004px; margin:0 auto;height:200px;margin-bottom:8px;">
        <div class="" style="background: url(/Content/images/syqy.png) 0 0 no-repeat;margin-top:0px; margin-right: 10px; width: 326px; height: 198px; float: left; border: 1px solid #ccc; ">
            <p style="text-align: left; font-family: 微软简楷体; font-weight: bold; color: #22A9E0; font-size: 18px; line-height: 40px; padding-left: 16px; margin-top: 15px;">
                <span style="text-align: left; font-family: 微软简楷体; font-weight: bold; color: #22A9E0; font-size: 18px;margin:20px 15px;">产业上游联盟理事企业</span>
                <a style="text-align: left; font-family: 微软简楷体; font-weight: normal; color: #ADA7A7; font-size: 12px; margin-right: 15px; float: right;"
                   href="/Company/List?type=@((int)MemberType.上游企业)" target="_blank">更多>></a>
            </p>
            <div class="tonggao_content">
                <ul class="r_upload mbm">
                    <div id="newlist" style="width: 222px; height: 130px; overflow: hidden">
                        @if (subCompanies.Count > 0)
                        {
                            foreach (var c in subCompanies)
                            {
                                <li><a href="@c.Site" target="_blank">@(c.Name.Length > 17 ? c.Name.Substring(0, 14) + "..." : c.Name)</a></li>
                            }
                        }
                        else
                        {
                            @Html.Raw("暂无数据！")
                        }
                    </div>
                </ul>
            </div>
        </div>
        <div class="" style="background: url(/Content/images/syqy.png) 0 0 no-repeat;margin-right: 10px; width: 326px; height: 198px; float: left; border: 1px solid #ccc;">
            <p style="text-align: left; font-family: 微软简楷体; font-weight: bold; color: #22A9E0; font-size: 18px; line-height: 40px; padding-left: 16px; margin-top: 15px;">
                <span style="text-align: left; font-family: 微软简楷体; font-weight: bold; color: #22A9E0; font-size: 18px;margin:20px 15px;">产业下游联盟理事企业</span>
                <a style="text-align: left; font-family: 微软简楷体; font-weight: normal; color: #ADA7A7; font-size: 12px; margin-right: 15px; float: right;"
                   href="/Company/List?type=@((int)MemberType.下游企业)" target="_blank">更多>></a>
            </p>
            <div class="tonggao_content">
                <ul class="r_upload mbm">
                    <div id="newlist1" style="width: 222px; height: 130px; overflow: hidden">
                        @if (supCompanies.Count > 0)
                        {
                            foreach (var c in supCompanies)
                            {
                                <li><a href="@c.Site" target="_blank">@(c.Name.Length > 17 ? c.Name.Substring(0, 14) + "..." : c.Name)</a></li>
                            }
                        }
                        else
                        {
                            @Html.Raw("暂无数据！")
                        }
                    </div>
                </ul>
            </div>
        </div>
        <div class="" style="background: url(/Content/images/syqy.png) 0 0 no-repeat;width: 326px; height: 198px; float: left; border: 1px solid #ccc;">
            <p style="text-align: left; font-family: 微软简楷体; font-weight: bold; color: #22A9E0; font-size: 18px; line-height: 40px; padding-left: 16px; margin-top: 15px;">
                <span style="text-align: left; font-family: 微软简楷体; font-weight: bold; color: #22A9E0; font-size: 18px;margin:20px 15px;">科研院所协会理事单位</span>
                <a style="text-align: left; font-family: 微软简楷体; font-weight: normal; color: #ADA7A7; font-size: 12px; margin-right: 15px; float: right;"
                   href="/Company/List?type=@((int)MemberType.科研院所协会)" target="_blank">更多>></a>
            </p>
            <div class="tonggao_content">
                <ul class="r_upload mbm">
                    <div id="newlist2" style="width:222px; height:130px; overflow:hidden">
                        @if (otherCompanies.Count > 0)
                        {
                            foreach (var c in otherCompanies)
                            {
                                <li><a href="@c.Site" target="_blank">@(c.Name.Length > 17 ? c.Name.Substring(0, 14) + "..." : c.Name)</a></li>
                            }
                        }
                        else
                        {
                            @Html.Raw("暂无数据！")
                        }
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <!--滚动的js-->
    @Html.RenderScript("/Content/js/listScroll.js")

    <!--企业产品推荐-->
    <div style="padding-top:5px;height:28px;background:url(/Content/images/noselectbg.jpg) top repeat-x; border-bottom:0px solid #ccc;">
        <p style="text-align: left; font-family: '微软简楷体'; font-weight: bold; color: #22A9E0; font-size: 18px; line-height: 20px; padding-left: 5px; margin-top: 0px;">
            企业产品推荐
        </p>
    </div>
    <div class="floor2" style="width: 1004px; margin: 0 auto; height: 160px;  margin-bottom: 10px;">
        <div class="" style="width: 241px; height: 158px; float: left; border: 1px solid #ccc; margin-right: 11px;">
            <a href="javascript:window.open('@config.Product1Link');">
                <img style="width: 241px; height: 158px;" src="@(string.IsNullOrEmpty(config.Product1Src) ? "/content/images/zanwu.jpg" : config.Product1Src)" />
            </a>
        </div>
        <div class="" style="width: 241px; height: 158px; float: left; border: 1px solid #ccc; margin-right: 11px;">
            <a href="javascript:window.open('@config.Product2Link');">
                <img style="width: 241px; height: 158px;" src="@(string.IsNullOrEmpty(config.Product2Src) ? "/content/images/zanwu.jpg" : config.Product2Src)" />
            </a>
        </div>
        <div class="" style="width: 241px; height: 158px; float: left; border: 1px solid #ccc; margin-right: 10px;">
            <a href="javascript:window.open('@config.Product3Link');">
                <img style="width: 241px; height: 158px;" src="@(string.IsNullOrEmpty(config.Product3Src) ? "/content/images/zanwu.jpg" : config.Product3Src)" />
            </a>
        </div>
        <div class="" style="width: 241px; height: 158px; float: left; border: 1px solid #ccc;">
            <a href="javascript:window.open('@config.Product4Link');">
                <img style="width: 241px; height: 158px;" src="@(string.IsNullOrEmpty(config.Product4Src) ? "/content/images/zanwu.jpg" : config.Product4Src)" />
            </a>
        </div>
    </div>

    <!--联盟动态、行业信息、广告位-->
    <div class="floor3" style="width:1004px; margin:0 auto;height:320px;margin-bottom:10px; ">
        <div class="" style="width: 342px; height: 318px; float: left; margin-right: 10px; border: 1px solid #ccc; text-align:left;padding:0px 10px 0px 15px;">
            <div style="margin-left: -15px; margin-right: -10px; margin-bottom: 15px; padding-top: 0px; height: 30px;">
                <img height="100%" src="/Content/images/lmdt.png" />
            </div>
            @if (dynamicArticles.Count > 0)
            {
                foreach (var c in dynamicArticles)
                {
                    <p style="font-size: 12px; line-height: 24px; padding-left: 15px; background: url(/Content/images/li.jpg) 0 5px no-repeat;" title="@c.Title">
                        <a href="/Article/Detail?id=@c.Id" target="_blank">@(c.Title.Length > 18 ? c.Title.Substring(0, 18) + "..." : c.Title)</a><span style="float: right;">[@c.SaveAt.ToString("yyyy-MM-dd")]</span>
                    </p>
                }
                <p style="text-align: right; padding-right: 10px; margin-top: 5px;">
                    <a href="/Article/InfoList" target="_blank" style="font-size: 12px; font-family: '宋体'; color: #ADA7A7; cursor: pointer;">
                        更多
                        <span style="font-size: 12px;">&gt;&gt;</span>
                    </a>
                </p>
            }
            else
            {
                @Html.Raw("暂无数据！")
            }
        </div>
        <div class="" style="width: 346px; height: 318px; float: left; margin-right: 10px; border: 1px solid #ccc;text-align:left;padding:0px 10px 0px 15px;">
            <div style="margin-left: -15px; margin-right: -10px; margin-bottom: 15px; padding-top: 0px; height: 30px;">
                <img height="100%" src="/Content/images/hyxx.png" />
            </div>
            @if (industryArticles.Count > 0)
            {
                foreach (var c in industryArticles)
                {
                    <p style="font-size: 12px; line-height: 24px; padding-left: 15px; background: url(/Content/images/li.jpg) 0 5px no-repeat;" title="@c.Title">
                        <a href="/Article/Detail?id=@c.Id" target="_blank">@(c.Title.Length > 18 ? c.Title.Substring(0, 18) + "..." : c.Title)</a><span style="float: right;">[@c.SaveAt.ToString("yyyy-MM-dd")]</span>
                    </p>
                }

                <p class="pmore" style="text-align: right; padding-right: 10px; margin-top: 5px;">
                    <a href="/Article/InfoList?type=行业信息" target="_blank" style="font-size: 12px; font-family: '宋体'; color: #ADA7A7; cursor: pointer;">
                        更多
                        <span style="font-size: 12px;">&gt;&gt;</span>
                    </a>
                </p>
            }
            else
            {
                @Html.Raw("暂无数据！")
            }
        </div>
        <div class="" style="width: 240px; height: 318px; float: left; border: 1px solid #ccc;">
            <a href="javascript:window.open('@config.BusinessLink');" target="_blank">
                <img width="100%" height="100%" src="@(string.IsNullOrEmpty(config.BusinessSrc) ? "/Content/images/zhaoshang.png" : config.BusinessSrc)" />
            </a>
        </div>
    </div>

</div>
<!--body2部分end-->
<!--隐藏域-->
@foreach (var e in slideArticles)
{
    <input type="hidden" id="slideSrc@(index)" value="@e.ImgSrc" />
    <input type="hidden" id="slideId@(index)" value="@e.Id" />
    index++;
}




<!--/ 隐藏域-->