@using LM.Model.Model
@using LM.Utility
@{
    ViewBag.Title = "申请流程";
    var content = ViewBag.Process;

    var index = 0;
    var slideArticles = ViewBag.SlideArticles as List<ArticleModel>;
    var dynamicArticles = ViewBag.DynamicArticles as List<ArticleModel>;
}

@Html.RenderCss("/Content/css/about.css")

<script type="text/javascript">
    $(document).ready(function () {
        // 取隐藏域里面的图片路径
        var imglist = [], idlist = [];
        var count = '@slideArticles.Count';
        for (var i = 0; i < count; i++) {
            var src = $('#slideSrc' + i).val();
            imglist.push(src);
            var id = $('#slideId' + i).val();
            idlist.push(id);
        }
        slide(imglist, idlist);

        // Logo 自动滚动
        //MoveDiv(window.event);
        slide_init(); // 运行图片滚动函数
        $("#tabs").tabs();
    });
</script>

<div class="section" style="margin-bottom:20px;">
    <div class="section_left">
        <div class="top">
            <h3>关于联盟</h3>
            <h5 accesskey="">About Aliance</h5>
        </div>
        <a href="/Home/About"><div class="title_left">联盟介绍&nbsp;<samp>>></samp></div></a>
        <a href="/Home/Chapter"><div class="title_left">联盟章程&nbsp;<samp>>></samp></div></a>
        <a href="/Home/Organization"><div class="title_left">联盟组织&nbsp;<samp>>></samp></div></a>
        <a href="/Home/Process"><div class="title_left">入盟申请&nbsp;<samp>>></samp></div></a>

        <div class="slide">
            <!--幻灯片-->
            <style>
                .pic_list ul {
                    width: 100%;
                    margin-left: 24px;
                    margin-top: -15px;
                    position: relative;
                }

                .pic_list .li {
                    width: 20px;
                    height: 5px;
                    color: #ffffff;
                    background: #0872CA;
                    padding: 1px 6px;
                    float: left;
                    margin: 3px;
                    list-style: none;
                    cursor: pointer;
                }

                    .pic_list .li:hover {
                        background: #9fd5fc;
                        color: #0872ca;
                    }

                .pic_list .active {
                    background: #9fd5fc;
                    color: #0872ca;
                    /*font-weight: bold;*/
                }
            </style>

            <div id="aa" class="pic_list" style="width: 100%; height: 100%; float: left; border: 1px solid #ccc;">
                @foreach (var e in slideArticles)
                {
                    <input type="hidden" id="slideSrc@(index)" value="@e.ImgSrc" />
                    <input type="hidden" id="slideId@(index)" value="@e.Id" />
                    index++;
                }
                <a href="@(slideArticles.Count > 0 ? "/Article/Detail?id=" + slideArticles[0].Id : "")" target="_blank">
                    <img src="@(slideArticles.Count > 0 ? slideArticles[0].ImgSrc : "")" style="width: 100%; height: 100%;">
                </a>
                <ul id="aa_index">
                    @for (var i = 0; i < slideArticles.Count; i++)
                    {
                        <li class="li" cid="@(i+1)"></li>
                    }
                </ul>
            </div>
        </div>

        <div class="top">
            <h3>联盟动态</h3>
        </div>
        <ul class="news_left">
            @foreach (var a in dynamicArticles)
            {
                <li>
                    <a href="/Article/Detail?id=@a.Id">@(a.Title)</a>
                </li>
            }
        </ul>
    </div>
    <div class="section_right">
        <div class="nav">
            当前位置：首页 > 关于联盟 > 入盟申请
        </div>
        <div class="nav_right">
            <span><img src="/Content/images2/home_bluedot.png" style="padding-right: 15px;">入盟申请</span>
        </div>

        <div class="mycontent">
            @Html.Raw(content)
        </div>
    </div>
</div>
